<div style="float: left; padding-top: 6px; padding-left: 6px;">
  <% # TODO: show partner logo (if any) %>
  <%= link_to image_tag('app_logo_small.png'), dashboard_path %>    
</div>

<div style="float: right; padding-top: 6px; padding-right: 6px;">
  <%= link_to image_tag('app_logo_small.png'), dashboard_path %>    
</div>

<div style="text-align: center;">
  <%= link_to "Welcome", welcome_path %> |
  <%= link_to "Dashboard", dashboard_path %> |
  <%= link_to "Profile", profile_path %> |
  <%= link_to "Terms", home_terms_path %> |
  <%= link_to "Privacy", home_privacy_path %> |
  <%= link_to "Contact", home_contact_path %>
</div>

<div style="text-align: center; padding-top: 8px;">
  <small>Copyright &copy; <%= Date.today.year %> <%= AppConfig.company_name %></small>
</div>


