<% # shown in my balance and on the employee maintenance views %>
<% if leave_type.employee_start_date(employee) <= date_as_at
     leave_balance = employee.leave_balance(leave_type, date_as_at)
%>

<div style="margin-bottom: 12px;">
  Leave cycle from <%= leave_balance.cycle_start_date.strftime('%e %B %Y') %> 
  to <%= leave_balance.cycle_end_date.strftime('%e %B %Y') %>
</div>

<div class="leave_balance_detail" style="width: 230px;">

  <% if leave_balance.leave_type.can_take_on? && leave_balance.take_on != 0 %>
    <div class="field">
      <div><%= label_tag :take_on_balance, 'Take-on', :title => 'Take on leave balance allowance' %></div>
      <span><%= text_field_tag :take_on_balance, number_with_precision(leave_balance.take_on, :precision => 1), { :disabled => true} %></span>
      <span class="field_info">days</span>
    </div>
  <% end %>

  <% if leave_balance.leave_type.can_carry_over? && leave_balance.carried_forward != 0 %>
    <div class="field">
      <div><%= label_tag :carried_forward, 'Carried Forward', :title => 'Leave balance carried forward from previous cycle' %></div>
      <span><%= text_field_tag :carried_forward, number_with_precision(leave_balance.carried_forward, :precision => 1), { :disabled => true} %></span>
      <span class="field_info">days</span>
    </div>
  <% end %>

  <div class="field">
    <div><%= label_tag :leave_allowance, 'Allowance', :title => 'Allowance for the current leave cycle' %></div>
    <span><%= text_field_tag :leave_allowance, number_with_precision(leave_balance.allowance, :precision => 1), { :disabled => true} %></span>
    <span class="field_info">days</span>
  </div>
  
  <div class="field">
    <div><em>less</em> <%= label_tag :leave_taken, 'Leave taken', :title => 'Leave taken to date' %></div>
    <span><%= text_field_tag :leave_taken, number_with_precision(leave_balance.leave_taken, :precision => 1), { :disabled => true} %></span>
    <span class="field_info">days</span>
  </div>
  
  <% if leave_balance.unpaid_leave_taken != 0 %>
    <div style="height: 12px;"></div>
    <div class="field">
      <div><%= label_tag :unpaid_leave, 'Unpaid leave taken',:title => 'Number of days of unpaid leave taken or outstanding' %></div>
      <span><%= text_field_tag :unpaid_leave, number_with_precision(leave_balance.unpaid_leave_taken, :precision => 1), { :disabled => true} %></span>
      <span class="field_info">days</span>
    </div>
  <% end %>

  <div class="field">
    <div class="total_row"><strong><%= label_tag :leave_available, 'Balance', :title => 'Available leave balance to date' %></strong></div>
    <span><%= text_field_tag :leave_available, number_with_precision(leave_balance.available, :precision => 1), { :disabled => true, :style => 'font-weight: bold;' } %></span>
    <span class="field_info">days</span>
  </div>
  
  <% if leave_balance.outstanding != 0 %>
    <div class="field">
      <div><%= label_tag :outstanding, 'Outstanding Future Requests', :title => 'Pending and approved leave, not yet taken' %></div>
      <span><%= text_field_tag :outstanding, number_with_precision(leave_balance.outstanding * -1, :precision => 1), { :disabled => true} %></span>
      <span class="field_info">days</span>
    </div>
  <% end %>
  
</div>

<% elsif leave_type.employee_start_date(employee) > leave_type.cycle_start_date %>

  <p>No leave balance available prior to employee&#39;s start date (<%= leave_type.employee_start_date(employee).strftime('%e %B %Y') %>).</p>

<% else %>

  <p>No leave balance available prior to <%= leave_type.leave_type_name %> leave cycle start date (<%= leave_type.cycle_start_date.strftime('%e %B %Y') %>).</p>

<% end %>

