<% for employee in @employees %>
  <% next if (@staff_balance.leave_type.gender_filter & employee.gender_filter).empty? %>
  
  <tr data-url="<%= balance_path(:as_at => @staff_balance.date_as_at, 
                                 :employee => employee, 
                                 :tenant => current_account.subdomain) %>">

    <td><%= employee.full_name %></td>

    <% if @staff_balance.leave_type.cycle_start_date <= @staff_balance.date_as_at && 
            @staff_balance.leave_type.employee_start_date(employee) <= @staff_balance.date_as_at
  
        leave_balance = employee.leave_balance(@staff_balance.leave_type, @staff_balance.date_as_at) %>

      <td>
        <% if leave_balance.take_on > 0 %>
          <%= number_with_precision(leave_balance.take_on, :precision => 1) %>
        <% else  %>
          -
        <% end %>
      </td>
      <td><%= number_with_precision(leave_balance.allowance, :precision => 1) %></td>
      <td>
        <% if leave_balance.leave_taken > 0 %>
          <%= number_with_precision(leave_balance.leave_taken, :precision => 1) %>
        <% else  %>
          -
        <% end %>
      </td>
      <td>
        <% if leave_balance.unpaid_leave_taken > 0 %>
          <%= number_with_precision(leave_balance.unpaid_leave_taken, :precision => 1) %>
        <% else %>
          -
        <% end %>
      </td>
      <td><strong><%= number_with_precision(leave_balance.available, :precision => 1) %></strong></td>
      <td><%= @staff_balance.leave_type.cycle_end_date_of(employee, @staff_balance.date_as_at).strftime('%Y-%m-%d') %></td>
      <td>
        <% if leave_balance.outstanding > 0 %>
          <%= number_with_precision(leave_balance.outstanding * -1, :precision => 1) %>
        <% else %>
          -
        <% end %>
      </td>
      <td class="centered">
        <%= link_to image_tag('../images/calculator.png'), 
                    balance_path(
                      :as_at => @staff_balance.date_as_at, 
                      :employee => employee, 
                      :tenant => current_account.subdomain
                    ), :title => 'Detailed Balance' %>
      </td>
      <td class="centered">
        <%= link_to image_tag('../images/leave_requests.png'), 
                    staff_leave_requests_path(
                      :leave_request_filter => { 
                          :date_to => @staff_balance.date_as_at,
                          :filter_by => 'employee',
                          :employee_id => employee.to_param,
                          :status => LeaveRequest::FILTER_STATUS_APPROVED
                      },
                      :tenant => current_account.subdomain
                    ), :title => 'Leave Request for Employee' %>
      </td>

    <% else %>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    <% end %>

  </tr>
<% end %>