<% head do %>
  <%= javascript_include_tag 'jit', 'jquery.tipsy' %>
  <!--[if IE]><%= javascript_include_tag 'excanvas' %><![endif]-->
<% end %>

<% content_title "Heatmap Analysis", "content_title_heatmap" %>

<div style="margin-bottom: 14px; z-order: 0;">

  <%= form_for @heat_map, :url => '' do |f| %>

    <%= error_messages_for @heat_map %>

    <table width="100%">
      <tr>
        <td width="120px"><%= label_tag :enquiry %>:</td>
        <td class="field" colspan="5">
          <%= f.select :enquiry, @heat_map.enquiry_types.collect {|klass| [klass.display_name, klass.name]}, {}, { :class => 'dropdown', :style => 'width: 415px;' } %>
        </td>
        <td align="right" rowspan="2" width="140px">
          <%= f.submit 'Update Heatmap' %>
        </td>
      </tr>
      <tr>
        <td>From:</td>
        <td class="field" colspan="3" width="225px"><%= f.date_picker :date_from %></td>
        <td width="30px">To:</td>
        <td class="field" width="225px"><%= f.date_picker :date_to %></td>
        <!-- <td></td> -->
      </tr>
      <tr>
        <td colspan="7" style="text-align: right;">
          <a id="toggle_criteria" href="javascript: toggle_criteria();" title="Hide or show additional filtering criteria">
            <%= @filter_by == 'none' ? 'More Criteria' : 'Less Criteria' %>
          </a>
        </td>
      </tr>
      <tr class="extra">
        <td style="height: 29px;"></td>
        <td width="25px"><%= f.radio_button :filter_by, 'none' %></td>
        <td class="field" colspan="5">All staff</td>
      </tr>
      <tr class="extra">
        <td>Location:</td>
        <td><%= f.radio_button :filter_by, 'location' %></td>
        <td class="field" colspan="5">
          <%= f.select :location_id, current_account.locations.collect {|item| [item.title, item.to_param]}, {}, { :class => 'dropdown' } %>
        </td>
      </tr>
      <tr class="extra">
        <td>Department:</td>
        <td><%= f.radio_button :filter_by, 'department' %></td>
        <td class="field" colspan="5">
          <%= f.select :department_id, current_account.departments.collect {|item| [item.title, item.to_param]}, {}, { :class => 'dropdown' } %>
        </td>
      </tr>
    </table>
    
  <% end %>
  
</div>

<div style="height: 42px; border-top: 1px solid #C0C0C0; padding-top: 8px;">
  <div class="field_info" style="float: left; line-height: 32px;">
    Left-click to go down, right-click to go up, click on a leave request to view detail.
  </div>
  <div style="float: right;">
    <input id="go_to_parent" type="button" class="button" value="Up" />
  </div>
</div>

<div id="treemap-display" style="height: 500px; border: 1px solid #C0C0C0;">
</div>    

<table width="100%" style="margin-top: 2px; border-spacing: 0; height: 8px;" title="Colour Scale">
  <tr>
    <% @heat_map.color_table.each do |color| %>
      <td style="background-color: <%= color.to_s %>"></td>
    <% end %>
  </tr>
</table>

<script type="text/javascript">

  var extra_criteria = <%= @filter_by == 'none' ? 'false' : 'true' %>;
  $('.extra').css('display', '<%= @filter_by == 'none' ? 'none' : '' %>');

  function toggle_criteria() {
    extra_criteria = !extra_criteria;
    $('.extra').css('display', extra_criteria ? '' : 'none');
    $('#toggle_criteria').html(extra_criteria ? 'Less Criteria' : 'More Criteria');
  }

  $('#heat_map_enquiry_location_id').change(function(){
    $('#heat_map_enquiry_filter_by_location').attr('checked', 'checked');
  });

  $('#heat_map_enquiry_department_id').change(function(){
    $('#heat_map_enquiry_filter_by_department').attr('checked', 'checked');
  });

  $('#heat_map_enquiry_employee_id').change(function(){
    $('#heat_map_enquiry_filter_by_employee').attr('checked', 'checked');
  });

</script>

<script type="text/javascript">

  var json = {
    "id": "root", 
    "name": "<%= @heat_map.enquiry_type.display_name %>",
    "children": [<%= @heat_map.json.html_safe %>]
  };

</script>
  
<script type="text/javascript">

  var labelType, useGradients, animate;

  (function() {
    var ua = navigator.userAgent,
             iStuff = ua.match(/iPhone/i) || ua.match(/iPad/i),
             typeOfCanvas = typeof HTMLCanvasElement,
             nativeCanvasSupport = (typeOfCanvas == 'object' || typeOfCanvas == 'function');
    useGradients = nativeCanvasSupport;
    animate = !(iStuff || !nativeCanvasSupport);
  })();

  // init TreeMap
  var treeMap = new $jit.TM.Squarified({
  
    injectInto: 'treemap-display',
    
    constrained: true,
    levelsToShow: 1,
    
    titleHeight: 32,
    animate: false,
    offset: 1,
    cushion: useGradients,
    duration: 250,

    Label: {
      type: "HTML",
      size: 14,
      family: "Ubuntu"
    },

    Events: {
      enable: true,
      onClick: function(node) {
        if (node) {
          if (node.data.url != null ) {
            // navigate to the leave request
            window.location = "<%= leave_request_path(LeaveRequest, :tenant => current_account.subdomain).gsub(/LeaveRequest/, '') %>" + node.data.url;
          } else {
            treeMap.enter(node);
          }         
        }
      },
      onRightClick: function() {
        treeMap.out();
      }
    },
    
    // only applicable for `HTML` label type
    onCreateLabel: function(domElement, node) {

      domElement.innerHTML = '<div class="node_label">' + node.name + '</div>';
  
      var label = domElement.firstChild;
      var style = domElement.style;

      // set border and adjust foreground color so text always contrasts properly
      style.border = '1px solid transparent';
      style.color = adjustColour(node.data.$color || '#000000');

      domElement.onmouseover = function() {
        style.border = '1px solid #9FD4FF';
      };

      domElement.onmouseout = function() {
        style.border = '1px solid transparent';
      };

      if (node.data.title) $(label).tipsy({ fallback: node.data.title, gravity: 'n' });

    }
  });

  treeMap.loadJSON(json);
  treeMap.refresh();

  $jit.util.addEvent($jit.id('go_to_parent'), 'click', function() {
    treeMap.out();
  });

</script>

