<% head do %>
  <%= javascript_include_tag 'jit' %>
  <!--[if IE]><%= javascript_include_tag 'excanvas' %><![endif]-->
  <%= javascript_include_tag 'jquery.qtip' %>
<% end %>

<% content_title "Heatmap Analysis" %>

<div style="margin-bottom: 14px; z-order: 0;">

  <%= form_for @heat_map, :url => '' do |f| %>

    <%= error_messages_for @heat_map %>

    <table width="100%">
      <tr>
        <td width="120px"><%= label_tag :enquiry %>:</td>
        <td class="field" colspan="5">
          <%= f.select :enquiry, @heat_map.enquiry_types.collect {|klass| [klass.display_name, klass.name]}, {}, { :class => 'dropdown', :style => 'width: 415px;' } %>
        </td>
        <td align="right" rowspan="2" width="140px">
          <%= f.submit 'Update Heatmap' %>
        </td>
      </tr>
      <tr>
        <td>From:</td>
        <td class="field" colspan="3" width="225px"><%= f.date_picker :date_from %></td>
        <td width="30px">To:</td>
        <td class="field" width="225px"><%= f.date_picker :date_to %></td>
        <!-- <td></td> -->
      </tr>
      <tr>
        <td colspan="7" style="text-align: right;">
          <a id="toggle_criteria" href="javascript: toggle_criteria();" title="Hide or show additional filtering criteria">
            <%= @filter_by == 'none' ? 'More Criteria' : 'Less Criteria' %>
          </a>
        </td>
      </tr>
      <tr class="extra">
        <td style="height: 29px;"></td>
        <td width="25px"><%= f.radio_button :filter_by, 'none' %></td>
        <td class="field" colspan="5">All staff</td>
      </tr>
      <tr class="extra">
        <td>Location:</td>
        <td><%= f.radio_button :filter_by, 'location' %></td>
        <td class="field" colspan="5">
          <%= f.select :location_id, current_account.locations.collect {|item| [item.title, item.to_param]}, { :include_blank => true }, { :class => 'dropdown' } %>
        </td>
      </tr>
      <tr class="extra">
        <td>Department:</td>
        <td><%= f.radio_button :filter_by, 'department' %></td>
        <td class="field" colspan="5">
          <%= f.select :department_id, current_account.departments.collect {|item| [item.title, item.to_param]}, { :include_blank => true }, { :class => 'dropdown' } %>
        </td>
      </tr>
      <tr class="extra">
        <td>Employee:</td>
        <td><%= f.radio_button :filter_by, 'employee' %></td>
        <td class="field" colspan="5">
          <%= f.select :employee_id, current_employee.staff.collect {|item| [item.full_name, item.to_param]}, { :include_blank => true }, { :class => 'dropdown' } %>
        </td>
      </tr>
    </table>
    
  <% end %>
  
</div>

<div style="height: 32px;">
  <div style="height: 32px; display: none;">
    <div id="ajax_working">Loading heat map...</div>
  </div>
  <div class="field_info">Left-click to drill down, Right-click to go back.</div>
</div>

<div id="treemap-display" style="height: 500px; border: 1px solid #C0C0C0;">
</div>    

<table width="100%" style="margin-top: 2px; border-spacing: 0; height: 4px;">
  <tr>
    <% @heat_map.color_table.each do |color| %>
      <td style="background-color: <%= color.to_s %>"></td>
    <% end %>
  </tr>
</table>

<div style="margin-top: 14px; text-align: right;">
  <input id="go_to_parent" type="button" class="button" value="Back" />
</div>

<script type="text/javascript">
  var json= {
    "id": "root", 
    "name": "<%= @heat_map.enquiry_type.display_name %>",
    "children": [<%= @heat_map.json %>]
  };
</script>
  
<script type="text/javascript">

  var extra_criteria = <%= @filter_by == 'none' ? 'false' : 'true' %>;
  $('.extra').css('display', '<%= @filter_by == 'none' ? 'none' : '' %>');

  function toggle_criteria() {
    extra_criteria = !extra_criteria;
    $('.extra').css('display', extra_criteria ? '' : 'none');
    $('#toggle_criteria').html(extra_criteria ? 'Less Criteria' : 'More Criteria');
  }

</script>
  
<script type="text/javascript">

  var labelType, useGradients, nativeTextSupport, animate;

  (function() {
    var ua = navigator.userAgent,
             iStuff = ua.match(/iPhone/i) || ua.match(/iPad/i),
             typeOfCanvas = typeof HTMLCanvasElement,
             nativeCanvasSupport = (typeOfCanvas == 'object' || typeOfCanvas == 'function'),
             textSupport = nativeCanvasSupport && (typeof document.createElement('canvas').getContext('2d').fillText == 'function');
    // I'm setting this based on the fact that ExCanvas provides text support for IE
    // and that as of today iPhone/iPad current text support is lame
    labelType = (!nativeCanvasSupport || (textSupport && !iStuff))? 'Native' : 'HTML';
    nativeTextSupport = labelType == 'Native';
    useGradients = nativeCanvasSupport;
    animate = !(iStuff || !nativeCanvasSupport);
  })();

  // init TreeMap
  var treeMap = new $jit.TM.Squarified({
    injectInto: 'treemap-display',
    levelsToShow: 1,
    titleHeight: 32,
    animate: animate,
    offset: 0,
    cushion: useGradients,
    duration: 500,
    Label: {
      type: "HTML", // "HTML", "Native" labelType,
      size: 14,
      family: "Ubuntu"
    },
    /*Node: {
      CanvasStyles: {
        shadowBlur: 0,
        shadowColor: '#000'
      }
    }, */
    Events: {
      enable: true,
      onClick: function(node) {
        if (node) {
          var count = 0;
          node.eachSubnode(function(){
            count++;
          });
          
          // hide any tips if displayed.
          $('.qtip').css('display', 'none');
          
          if (count > 0) {
            treeMap.enter(node);
          }       
        }
      },
      onRightClick: function() {
        // hide any tips if displayed.
        $('.qtip').css('display', 'none');
        treeMap.out();
      } /*,
       
      // only applicable for `Native` label type 
      onMouseEnter: function(node, eventInfo) {
        if (node) {
          node.setCanvasStyle('shadowBlur', 7);
          treeMap.fx.plotNode(node, treeMap.canvas);
          treeMap.labels.plotLabel(treeMap.canvas, node);
        }
      },
      onMouseLeave: function(node) {
        if (node) {
          node.removeCanvasStyle('shadowBlur');
          treeMap.plot();
        }
      } */
      
    },
    
    // only applicable for `HTML` label type
    onCreateLabel: function(domElement, node) {

      domElement.innerHTML = '<div class="node_label">' + node.name + '</div>';
  
      if (node.data.title != null ) {
        $(domElement).qtip(
          {content: node.data.title, position: { corner: { target: 'center', tooltip: 'center' } } }
        );
      }

      var style = domElement.style;
      //style.display = '';
      style.border = '1px solid transparent';
      
      // adjust foreground colour so text always contrasts
      style.color = adjustColour(node.data.$color || '#000000');

      domElement.onmouseover = function() {
        style.border = '1px solid #9FD4FF';
      };
      domElement.onmouseout = function() {
        style.border = '1px solid transparent';
      };
    }
  });

  treeMap.loadJSON(json);
  treeMap.refresh();

  $jit.util.addEvent($jit.id('go_to_parent'), 'click', function() {
    treeMap.out();
  });
  
</script>


