<% head do %>
  <%= javascript_include_tag 'jquery.scrollto', 'jquery.localscroll' %>
<% end %>

<% content_title "Staff Leave Calendar", "content_title_staff_calendar" %>

<div style="margin-bottom: 14px; z-order: 0;">

  <%= form_for @staff_calendar, :url => '' do |f| %>

    <%= error_messages_for @staff_calendar %>

    <table width="100%">
      <tr>
        <td width="120px">From:</td>
        <td width="30px"></td>
        <td class="field"><%= f.date_picker :date_from %></td>
        <td width="20px"></td>        
        <td>To:</td>
        <td></td>
        <td class="field"><%= f.date_picker :date_to %></td>
        <td align="right"><%= f.submit 'Update Calendar' %></td>
      </tr>
      <tr>
        <td colspan="8" style="text-align: right;">
          <a id="toggle_criteria" href="javascript: toggle_criteria();" title="Hide or show additional filtering criteria">
            <%= @filter_by == 'none' ? 'More Criteria' : 'Less Criteria' %>
          </a>
        </td>
      </tr>
      <tr class="extra">
        <td style="height: 29px;"></td>
        <td><%= f.radio_button :filter_by, 'none' %></td>
        <td class="field" colspan="6">All staff</td>
      </tr>
      <tr class="extra">
        <td>Location:</td>
        <td><%= f.radio_button :filter_by, 'location' %></td>
        <td class="field" colspan="6">
          <%= f.select :location_id, current_account.locations.collect {|item| [item.title, item.to_param]}, { :include_blank => true }, { :class => 'dropdown' } %>
        </td>
      </tr>
      <tr class="extra">
        <td>Department:</td>
        <td><%= f.radio_button :filter_by, 'department' %></td>
        <td class="field" colspan="6">
          <%= f.select :department_id, current_account.departments.collect {|item| [item.title, item.to_param]}, { :include_blank => true }, { :class => 'dropdown' } %>
        </td>
      </tr>
      <tr class="extra">
        <td>Employee:</td>
        <td><%= f.radio_button :filter_by, 'employee' %></td>
        <td class="field" colspan="6">
          <%= f.select :employee_id, current_employee.staff.collect {|item| [item.full_name, item.to_param]}, { :include_blank => true }, { :class => 'dropdown' } %>
        </td>
      </tr>
    </table>
    
  <% end %>
  
</div>

<div style="height: 40px; text-height: 20px;">
  <div id="zoom_in" onclick="javascript: zoom(1);"></div>
  <div id="zoom_slider"></div>
  <div id="zoom_out" onclick="javascript: zoom(-1);"></div>
</div>

<div id="staff_calendar" style="display: inline-block;">

  <!-- staff and leave requests -->
  <div style="width: 160px; float: left;">
    <table id="staff" width="100%">
      <thead>
        <tr><td>Year</td></tr>
        <tr><td>Month</td></tr>
        <tr class="weekday_row"><td>Weekday</td></tr>
        <tr class="day_row"><td>Day</td></tr>
      </thead>
      <tbody>
      <% @staff_calendar.employees.each do |employee| %>
        <tr>
          <td>
            <%= truncate(employee.full_name, :length => 20) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <!-- calendar -->
  <div id="staff_calendar_scroll" style="width: 594px; float: left; overflow: auto;">
    <table id="leave">
    
      <thead>
  
        <!-- years -->
        <tr class="year_row">
          <% @staff_calendar.date_range.inject({}) { |r, d| r[d.year] = (r[d.year] || 0) + 1; r }.each do |year, count| %>
            <td colspan="<%= count %>"><%= year %></td>
          <% end %>
        </tr>
    
        <!-- months -->
        <tr class="month_row">
          <% @staff_calendar.date_range.inject({}) { |r, d| r[d.strftime('%Y-%b')] = (r[d.strftime('%Y-%b')] || 0) + 1; r }.each do |month, count| %>
            <td colspan="<%= count %>"><%= month.split('-')[1] %></td>
          <% end %>
        </tr>

        <!-- days of week -->
        <tr class="weekday_row">
          <% @staff_calendar.date_range.each do |date| %>
            <% holiday = @staff_calendar.holidays[date] %>
            <td class="<%= date.wday == 6 || date.wday == 0 ? 'weekend' : '' %><%= holiday.present? ? ' holiday' : '' %>"
                title="<%= holiday %>">
              <div class="week_days">
              <%= case date.wday
                  when 0 then 'S'
                  when 1 then 'M'
                  when 2 then 'T'
                  when 3 then 'W'
                  when 4 then 'T'
                  when 5 then 'F'
                  when 6 then 'S'
                end %>
              </div>
            </td>
          <% end %>
        </tr>
        
        <!-- days -->
        <tr class="day_row">
          <% @staff_calendar.date_range.each do |date| %>
            <% holiday = @staff_calendar.holidays[date] %>
            <td class="<%= date.wday == 6 || date.wday == 0 ? 'weekend' : '' %><%= holiday.present? ? ' holiday' : '' %>"
                title="<%= holiday %>" data="<%= date.strftime('%Y-%m-%d') %>"><div class="days"><%= date.day %></div></td>
          <% end %>
        </tr>
      </thead>
        
      <tbody>
        <% @staff_calendar.employees.each do |employee| %>
          <tr>
            <% @staff_calendar.date_range.each do |date| %>
              <% 
                holiday = @staff_calendar.holidays[date] 
                leave_request = @staff_calendar.leave_requests_for(employee)[date]
              %>
              
              <% if leave_request && !(date.wday == 0 || date.wday == 6 || holiday.present?) %>
                <td class="leave_request_#{leave_request.status_text.underscore}"
                    style="background-color: <%= leave_request.leave_type.hex_color %>; cursor: pointer;"
                    onclick="javascript: window.location = '<%= edit_leave_request_path(leave_request, :tenant => current_account.subdomain) %>';"
                    title="<%= leave_request.to_s %>">
                </td>
              <% else %>
                <td class="<%= date.wday == 6 || date.wday == 0 ? 'weekend' : '' %><%= holiday.present? ? ' holiday' : '' %>"
                    title="<%= holiday %>">
                </td>
              <% end %>
            
            <% end %>
          </tr>
        <% end %>
      </tbody>
      
    </table>
  </div>

</div>

<p style="text-align: right;">
  <%= link_to "Download CSV", staff_leave_requests_path(
          :format => :csv, 
          :status => LeaveRequest::ACTIVE_STATUSES,
          :date_from => @staff_calendar.date_from,
          :date_to => @staff_calendar.date_to), :id => 'download_csv' %>
</p>

<script type="text/javascript">

  var extra_criteria = <%= @filter_by == 'none' ? 'false' : 'true' %>;

  $('.extra').css('display', '<%= @filter_by == 'none' ? 'none' : '' %>');

  function toggle_criteria() {
    extra_criteria = !extra_criteria;
    $('.extra').css('display', extra_criteria ? '' : 'none');
    $('#toggle_criteria').html(extra_criteria ? 'Less Criteria' : 'More Criteria');
  }

  $('#staff_calendar_enquiry_location_id').change(function(){
    $('#staff_calendar_enquiry_filter_by_location').attr('checked', 'checked');
  });

  $('#staff_calendar_enquiry_department_id').change(function(){
    $('#staff_calendar_enquiry_filter_by_department').attr('checked', 'checked');
  });

  $('#staff_calendar_enquiry_employee_id').change(function(){
    $('#staff_calendar_enquiry_filter_by_employee').attr('checked', 'checked');
  });

	$(".weekday_row").css('display', 'none');
	$(".day_row").css('display', 'none');

  $("#zoom_slider").slider({
			min: 0,
			max: 10,
			step: 1,
			slide: function(event, ui) {
			  update_calendar_zoom(ui.value);
			}
		});
		
  function zoom(incr) {
    var slider = $('#zoom_slider')
    slider.slider('value', slider.slider('option', 'value') + incr);
    update_calendar_zoom(slider.slider('option', 'value'));
  }		
  
  function update_calendar_zoom(value) {
		$(".weekday_row").css('display', (value > 4 ? '' : 'none'));
		$(".day_row").css('display', (value > 6 ? '' : 'none'));

		$(".week_days").css('display', (value > 4 ? 'inline' : 'none'));
		$(".days").css('display', (value > 6 ? 'inline' : 'none'));
		
		var width, border;
		
		switch(value) {
		  case 0:
		    width = '2px';
		    border = 'none';
		    break;
		  case 1:
		    width = '8px';
		    border = 'none';
		    break;
		  case 2:
		    width = '10px';
		    border = 'none';
		    break;
		  case 3:
		    width = '12px';
		    border = 'none';
		    break;
		  case 4:
		    width = '14px';
		    border = '1px solid #C0C0C0';
		    break;
		  case 5:
		    width = '18px';
		    border = '1px solid #C0C0C0';
		    break;
		  case 6:
		    width = '22px';
		    border = '1px solid #C0C0C0';
		    break;
		  case 7:
		    width = '28px';
		    border = '1px solid #C0C0C0';
		    break;
		  case 8:
		    width = '32px';
		    border = '1px solid #C0C0C0';
		    break;
		  case 9:
		    width = '38px';
		    border = '1px solid #C0C0C0';
		    break;
		  case 10:
		    width = '45px';
		    border = '1px solid #C0C0C0';
		    break;
		}
		
    $("#leave td").css('min-width', width);
    $(".weekday_row td, .day_row td, #leave tbody td").css('border-left', border);
  }
  
  // set default zoom and scroll to today
  $('#zoom_slider').slider('option', 'value', '7');
  update_calendar_zoom(7);
	
  var todayCol = $('td[data="<%= Date.today.strftime('%Y-%m-%d') %>"]');
  var scrollArea = $('#staff_calendar_scroll');
  if (todayCol) {
    todayCol.css('background-color', 'yellow');
    scrollArea.scrollLeft(todayCol.offset().left - scrollArea.offset().left);
  }

</script>

