<% content_title "Staff Balances", "content_title_staff_balance" %>

<div id="filter" style="margin-bottom: 14px; z-order: 0;">

  <%= form_for @staff_balance, :as => 'staff_balance_enquiry', :url => '', :remote => true do |f| %>

    <%= error_messages_for @staff_balance %>

    <table width="100%">
      <tr>
        <td>Leave type:</td>
        <td class="field" colspan="6">
          <%= f.select :leave_type_id, @leave_types.collect {|e| [e.to_s, e.id]}, {}, { :class => 'dropdown', :style => 'width: 160px;' } %>
        </td>
        <td align="right" rowspan="2">
          <a id="toggle_criteria" href="javascript: toggle_criteria();" title="Hide or show additional filtering criteria">
            <%= @filter_by == 'none' ? 'More Criteria' : 'Less Criteria' %>
          </a>
          <div style="display: none;"><%= f.submit 'Show Balances' %></div>
        </td>
      </tr>
      <tr>
        <td width="150px">Leave balances as at:</td>
        <td class="field" colspan="6"><%= f.date_picker :date_as_at %></td>
      </tr>
      <tr class="extra">
        <td style="height: 29px;"></td>
        <td width="32px"><%= f.radio_button :filter_by, 'none' %></td>
        <td class="field" colspan="6">All staff</td>
      </tr>
      <tr class="extra">
        <td>Location:</td>
        <td><%= f.radio_button :filter_by, 'location' %></td>
        <td class="field" colspan="6">
          <%= f.select :location_id, current_account.locations.collect {|item| [item.title, item.to_param]}, {}, { :class => 'dropdown' } %>
        </td>
      </tr>
      <tr class="extra">
        <td>Department:</td>
        <td><%= f.radio_button :filter_by, 'department' %></td>
        <td class="field" colspan="6">
          <%= f.select :department_id, current_account.departments.collect {|item| [item.title, item.to_param]}, {}, { :class => 'dropdown' } %>
        </td>
      </tr>
    </table>
    
  <% end %>
  
</div>

<div style="height: 32px; margin-bottom: 10px;">
  <div id="ajax_working">Loading staff balances...</div>
  <div id="paginator" style="display: none;">
  </div>
</div>

<table id="leave_balances" class="table_grid">
  <thead>
    <tr>
      <th colspan="8" id="leave_type_name"><%= @staff_balance.leave_type.to_s %> Leave</th>
    </tr>
    <tr>
      <th>Employee</th>
      <th width="80px"><abbr title="Take on leave balance allowance">Brought Forward / Take-on</abbr></th>
      <th width="80px"><abbr title="Allowance for the current leave cycle">Allowance</abbr></th>
      <th width="80px"><abbr title="Leave taken to date">Taken</abbr></th>
      <th width="80px"><abbr title="Number of days of unpaid leave taken or outstanding">Unpaid</abbr></th>
      <th width="80px"><abbr title="Available leave balance to date">Balance</abbr></th>
      <th width="90px"><abbr title="End date for the cycle for the employee">Cycle Ends</abbr></th>
      <th width="80px"><abbr title="Pending and approved leave, not yet taken">Outstanding</abbr></th>
      <th width="32px"></th>
      <th width="32px"></th>
    </tr>
  </thead>
  <tbody id="data-rows">
    <tr class="no_hover">
      <td colspan="10">
        <p>Loading staff balances...</p>
      </td>
    </tr>
  </tbody>
</table>

<p style="text-align: right;">
  <%= link_to "Download CSV", staff_balance_path(
                                :format => :csv, 
                                :staff_balance_enquiry => @staff_balance.attributes
                              ), :id => 'download_csv' %>
</p>

<script type="text/javascript">

  var extra_criteria = <%= @filter_by == 'none' ? 'false' : 'true' %>;

  $('.extra').css('display', '<%= @filter_by == 'none' ? 'none' : '' %>');

  function toggle_criteria() {
    extra_criteria = !extra_criteria;
    $('.extra').css('display', extra_criteria ? '' : 'none');
    $('#toggle_criteria').html(extra_criteria ? 'Less Criteria' : 'More Criteria');
  }

  $('#staff_balance_enquiry_location_id').change(function(){
    $('#staff_balance_enquiry_filter_by_location').attr('checked', 'checked');
  });

  $('#staff_balance_enquiry_department_id').change(function(){
    $('#staff_balance_enquiry_filter_by_department').attr('checked', 'checked');
  });

  $('#staff_balance_enquiry_employee_id').change(function(){
    $('#staff_balance_enquiry_filter_by_employee').attr('checked', 'checked');
  });

  $('#filter input, #filter select').change(function(){
    $('#ajax_working').css('display', '');
    $('#paginator').css('display', 'none');
    $('#staff_balance_enquiry_new').submit();
  });

  $('#paginator a').live('ajax:before', function(e) { 
    $('#ajax_working').css('display', '');
    $('#paginator').css('display', 'none');
  });

</script>

<script type="text/javascript" defer="defer">
  $('#staff_balance_enquiry_new').submit();
</script>
