<% content_title "Staff Leave Calendar" %>

<div style="margin-bottom: 14px; z-order: 0;">

  <%= form_for @staff_calendar, :url => '' do |f| %>

    <%= error_messages_for @staff_calendar %>

    <table width="100%">
      <tr>
        <td width="120px">From:</td>
        <td width="30px"></td>
        <td class="field"><%= f.date_picker :date_from %></td>
      </tr>
      <tr>
        <td>To:</td>
        <td></td>
        <td class="field"><%= f.date_picker :date_to %></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><%= f.radio_button :filter_by, 'location' %></td>
        <td class="field">
          <%= f.select :item_id, current_account.locations.collect {|item| [item.title, item.to_param]}, { :include_blank => true }, { :class => 'dropdown' } %>
        </td>
      </tr>
      <tr>
        <td>Department:</td>
        <td><%= f.radio_button :filter_by, 'department' %></td>
        <td class="field">
          <%= f.select :item_id, current_account.departments.collect {|item| [item.title, item.to_param]}, { :include_blank => true }, { :class => 'dropdown' } %>
        </td>
      </tr>
      <tr>
        <td>Employee:</td>
        <td><%= f.radio_button :filter_by, 'employee' %></td>
        <td class="field">
          <%= f.select :item_id, current_employee.staff.collect {|item| [item.full_name, item.to_param]}, { :include_blank => true }, { :class => 'dropdown' } %>
        </td>
      </tr>
      <tr>
        <td colspan="3" align="right">
          <%= f.submit 'Update Displayed Data' %>
        </td>
      </tr>
    </table>
    
  <% end %>
  
</div>

<p>TODO: calendar control</p>

