<% content_title "Staff Leave Calendar" %>

<div style="margin-bottom: 14px; z-order: 0;">

  <%= form_for @staff_calendar, :url => '' do |f| %>

    <%= error_messages_for @staff_calendar %>

    <table width="100%">
      <tr>
        <td width="120px">From:</td>
        <td width="30px"></td>
        <td class="field"><%= f.date_picker :date_from %></td>
      </tr>
      <tr>
        <td>To:</td>
        <td></td>
        <td class="field"><%= f.date_picker :date_to %></td>
      </tr>
      <tr>
        <td colspan="3" style="height: 12px;">
        </td>
      </tr>
      <tr>
        <td style="height: 29px;"></td>
        <td><%= f.radio_button :filter_by, 'none' %></td>
        <td class="field">All staff</td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><%= f.radio_button :filter_by, 'location' %></td>
        <td class="field">
          <%= f.select :location_id, current_account.locations.collect {|item| [item.title, item.to_param]}, { :include_blank => true }, { :class => 'dropdown' } %>
        </td>
      </tr>
      <tr>
        <td>Department:</td>
        <td><%= f.radio_button :filter_by, 'department' %></td>
        <td class="field">
          <%= f.select :department_id, current_account.departments.collect {|item| [item.title, item.to_param]}, { :include_blank => true }, { :class => 'dropdown' } %>
        </td>
      </tr>
      <tr>
        <td>Employee:</td>
        <td><%= f.radio_button :filter_by, 'employee' %></td>
        <td class="field">
          <%= f.select :employee_id, current_employee.staff.collect {|item| [item.full_name, item.to_param]}, { :include_blank => true }, { :class => 'dropdown' } %>
        </td>
      </tr>
      <tr>
        <td colspan="3" align="right">
          <%= f.submit 'Update Displayed Data' %>
        </td>
      </tr>
    </table>
    
  <% end %>
  
</div>

<div style="height: 40px; text-height: 20px;">
  <div style="float: left; width: 100px; color: gray;">Zoom Out</div>
  <div id="slider" style="float: left; width: 556px; margin-top: 4px;"></div>
  <div style="float: right; width: 90px; text-align: right; color: gray;">Zoom In</div>
</div>

<div id="staff_calendar" style="display: inline-block;">

  <!-- staff and leave requests -->
  <div style="width: 160px; float: left;">
    <table id="staff" width="100%">
      <thead>
        <tr><td>Year</td></tr>
        <tr><td>Month</td></tr>
        <tr><td>Weekday</td></tr>
        <tr><td>Day</td></tr>
      </thead>
      <tbody>
      <% @staff_calendar.employees.each do |employee| %>
        <tr><td><strong style="overflow: hidden;"><%= employee.full_name %></strong></td></tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <!-- calendar -->
  <div style="width: 594px; float: left; overflow: auto;">
    <table id="leave">
    
      <thead>
  
        <!-- years -->
        <tr class="year_row">
          <% @staff_calendar.date_range.inject({}) { |r, d| r[d.year] = (r[d.year] || 0) + 1; r }.each do |year, count| %>
            <td colspan="<%= count %>"><%= year %></td>
          <% end %>
        </tr>
    
        <!-- months -->
        <tr class="month_row">
          <% @staff_calendar.date_range.inject({}) { |r, d| r[d.strftime('%Y-%b')] = (r[d.strftime('%Y-%b')] || 0) + 1; r }.each do |month, count| %>
            <td colspan="<%= count %>"><%= month.split('-')[1] %></td>
          <% end %>
        </tr>

        <!-- days of week -->
        <tr class="weekday_row">
          <% @staff_calendar.date_range.each do |date| %>
            <% holiday = @staff_calendar.holidays[date] %>
            <td class="<%= date.wday == 6 || date.wday == 0 ? 'weekend' : '' %><%= holiday.present? ? ' holiday' : '' %>"
                title="<%= holiday %>">
              <div class="week_days">
              <%= case date.wday
                  when 0 then 'S'
                  when 1 then 'M'
                  when 2 then 'T'
                  when 3 then 'W'
                  when 4 then 'T'
                  when 5 then 'F'
                  when 6 then 'S'
                end %>
              </div>
            </td>
          <% end %>
        </tr>
        
        <!-- days -->
        <tr class="day_row">
          <% @staff_calendar.date_range.each do |date| %>
            <% holiday = @staff_calendar.holidays[date] %>
            <td class="<%= date.wday == 6 || date.wday == 0 ? 'weekend' : '' %><%= holiday.present? ? ' holiday' : '' %>"
                title="<%= holiday %>"><div class="days"><%= date.day %></div></td>
          <% end %>
        </tr>
      </thead>
        
      <tbody>
        <% @staff_calendar.employees.each do |employee| %>
          <% date_offset = @staff_calendar.date_from %>
          <tr>
            <% @staff_calendar.leave_requests_for(employee).each do |leave_request| %>
              <% (date_offset..(((leave_request.date_from - 1) < date_offset) ? date_offset : (leave_request.date_from - 1))).each do |date| %>
                <% holiday = @staff_calendar.holidays[date] %>
                <td class="<%= date.wday == 6 || date.wday == 0 ? 'weekend' : '' %><%= holiday.present? ? ' holiday' : '' %>"
                    title="<%= holiday %>"></td>
              <% end %>
              <td colspan="<%= leave_request.absolute_duration %>" 
                  class="leave_request_#{leave_request.status_text.underscore}"
                  style="background-color: <%= leave_request.leave_type.hex_color %>; cursor: pointer;"
                  onclick="javascript: window.location = '<%= edit_leave_request_path(leave_request, :tenant => current_account.subdomain) %>';"
                  title="<%= leave_request.to_s %>">
              </td>
              <% date_offset = ((leave_request.date_to + 1) < @staff_calendar.date_to) ? (leave_request.date_to + 1) : @staff_calendar.date_to %>
            <% end %>
            <% (date_offset..@staff_calendar.date_to).each do |date| %>
              <% holiday = @staff_calendar.holidays[date] %>
              <td class="<%= date.wday == 6 || date.wday == 0 ? 'weekend' : '' %><%= holiday.present? ? ' holiday' : '' %>"
                  title="<%= holiday %>"></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      
    </table>
  </div>

</div>

<p style="text-align: right;"><%= link_to 'Download CSV', '/TODO' %></p>

<script type="text/javascript">
  $("#slider").slider({
			min: 0,
			max: 10,
			step: 1,
			slide: function(event, ui) {
				
				$(".week_days").css('display', (ui.value > 4 ? 'inline' : 'none'));
				$(".days").css('display', (ui.value > 6 ? 'inline' : 'none'));
				
				var width, border;
				
				switch(ui.value) {
				  case 0:
				    width = '2px';
				    border = 'none';
				    break;
				  case 1:
				    width = '8px';
				    border = 'none';
				    break;
				  case 2:
				    width = '10px';
				    border = 'none';
				    break;
				  case 3:
				    width = '12px';
				    border = 'none';
				    break;
				  case 4:
				    width = '14px';
				    border = '1px solid #C0C0C0';
				    break;
				  case 5:
				    width = '18px';
				    border = '1px solid #C0C0C0';
				    break;
				  case 6:
				    width = '22px';
				    border = '1px solid #C0C0C0';
				    break;
				  case 7:
				    width = '28px';
				    border = '1px solid #C0C0C0';
				    break;
				  case 8:
				    width = '32px';
				    border = '1px solid #C0C0C0';
				    break;
				  case 9:
				    width = '38px';
				    border = '1px solid #C0C0C0';
				    break;
				  case 10:
				    width = '45px';
				    border = '1px solid #C0C0C0';
				    break;
				}
				
		    $("#leave td").css('min-width', width);
		    $(".weekday_row td, .day_row td, #leave tbody td").css('border-left', border);
				
			}
		});
</script>


