<p>Next steps:</p>
<ul>
  <li>Setup your <%= link_to 'company logo and theme', account_path %>,</li>
  <li>Optionally, create <%= link_to 'locations', new_location_path %> and <%= link_to 'departments', new_department_path %>,</li>
  <li>Update <%= link_to 'leave type settings', account_path %> and allowances,</li>  
  <li>Add <%= link_to 'employees', new_employee_path %> and optionally specify leave take on balances.</li>
</ul>

