<p>Next steps:</p>
<ul>
  <li>Setup your <%= link_to 'company logo and theme', edit_account_path %>,</li>
  <li>Optionally, create <%= link_to 'locations', new_location_path %> and <%= link_to 'departments', new_department_path %>,</li>
  <li>Update <%= link_to 'leave policies', edit_leave_types_path %> and allowances,</li>  
  <li>Add <%= link_to 'staff', new_employee_path %> and optionally specify leave take on balances.</li>
</ul>

<ul>
  <li>Update your <%= link_to 'profile', profile_path %></li>
  <li>Check your <%= link_to 'leave balance', balance_path %></li>
  <li><%= link_to 'Apply for leave', new_employee_leave_request_path %></li>
  <li>Check your <%= link_to 'pending', employee_leave_requests_path %> leave requests</li>
</ul>
