<% title "#{current_account} - Employee Activation" %>

<div style="height: 100px;">
</div>

<div class="row">

  <div class="column grid_3">
  </div>

  <div class="column grid_6">
  
    <div class="panel_box box_radius">
      
      <div class="panel_box_title box_radius_top background_4">
        <h2><%= current_account.title %> - Employee Activation</h2>
      </div>
      
      <div class="panel_box_content">

        <div>
          <%= render :partial => "shared/flash", :locals => { :flash => flash } %>
        </div>

        <%= form_for(@employee, :url => activate_path(:tenant => current_account.subdomain)) do |f| %>
        
          <%= error_messages_for @employee %>

          <div class="field">
            <div><%= f.label :user_name %></div>
            <span><%= f.text_field :user_name, :disabled => true %></span>
          </div>
          <div class="field required">
            <div><%= f.label :password %></div>
            <span><%= f.password_field :password, :autofocus => 'autofocus' %></span>
          </div>
          <div class="field required">
            <div><%= f.label :password_confirmation %></div>
            <span><%= f.password_field :password_confirmation %></span>
          </div>
          
          <div style="height: 52px;">
            <span style="float: left; padding-top: 8px;">
            </span>
            <span style="float: right; margin-top: 11px;">
              <%= f.submit "Activate!" %> or <%= link_to 'cancel', root_path %>
            </span>
          </div>

        <% end %>      
      
      </div>
    </div>
  </div>

  <div class="column grid_3">
  </div>

</div>

