<%
  dashboard_link = dashboard_url(:tenant => @registration.subdomain)
%>

<p>Hello <%= @registration.full_name %>,</p>

<p>Welcome to <strong><%= AppConfig.title %></strong>. Your account for <strong><%= @registration.title %></strong> is ready!</p>

<p>You can use the following URL to access your account:</p>

<p class="block">
<strong><%= link_to dashboard_link, dashboard_link %></strong>
</p>

<p>Next steps:</p>
<ul>
  <li>Setup your company logo and theme,</li>
  <li>Optionally, create locations and departments,</li>
  <li>Update leave policies and allowances,</li>  
  <li>Add staff and optionally specify leave take on balances.</li>
</ul>

<p>To complete your account setup, please follow this link:</p>

<p class="block">
<%= link_to 'Account Setup', account_setup_url(:tenant => @registration.subdomain, :token => @registration.auth_token) %>
</p>

<p>Your authentication token is: <strong><%= @registration.auth_token %></strong></p>

<p>
<strong>The <%= AppConfig.title %> Team</strong><br />
<%= link_to root_url, root_url %>
</p>
