<tr>
  <td><%= image_tag bulk_upload_stage.selected ? '../images/ok.png' : '../images/warning.png' %></td>
  <td><%= bulk_upload_stage.line_number %></td>
  <td><%= bulk_upload_stage.user_name %></td>
  <td><%= bulk_upload_stage.first_name %></td>
  <td><%= bulk_upload_stage.last_name %></td>
  <td><%= bulk_upload_stage.email %></td>
  <td><%= bulk_upload_stage.approver %></td>
  <td></td>
</tr>
<% unless bulk_upload_stage.selected %>
  <tr>
    <td colspan="7"><em><%= bulk_upload_stage.messages %></em></td>
  </tr>
<% end %>

