<tr>
  <td><%= bulk_upload_stage.selected %></td>
  <td><%= bulk_upload_stage.user_name %></td>
  <td><%= bulk_upload_stage.first_name %></td>
  <td><%= bulk_upload_stage.last_name %></td>
  <td><%= bulk_upload_stage.email %></td>
  <td><%= bulk_upload_stage.approver %></td>
  <td></td>
</tr>
