<tr>
  <td><%= image_tag '../images/warning.png' unless bulk_upload_stage.selected %></td>
  <td><%= bulk_upload_stage.user_name %></td>
  <td><%= bulk_upload_stage.first_name %></td>
  <td><%= bulk_upload_stage.last_name %></td>
  <td><%= bulk_upload_stage.email %></td>
  <td><%= bulk_upload_stage.approver %></td>
  <td></td>
</tr>
<tr>
  <td colspan="7"><em><%= bulk_upload_stage.messages %></em></td>
</tr>

