<div class="menu_bar menu_bar_left">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Features", home_features_path %></li>
    <li><%= link_to "Subscriptions", home_subscriptions_path %></li>
    <li><%= link_to "Terms", home_terms_path %></li>
    <li><%= link_to "Contact", home_contact_path %></li>
  </ul>
</div>
<div class="menu_bar menu_bar_right">
  <ul>
    <li><%= link_to 'Register', new_account_registration_path %></li>
    <li><%= link_to 'Sign In', home_sign_in_path %></li>
  </ul>
</div>

