<div class="menu_bar menu_bar_left">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Pricing", home_subscriptions_path %></li>
    <li><%= link_to "Terms", home_terms_path %></li>
    <li><%= link_to "Contact", home_contact_path %></li>
  </ul>
</div>
<div class="menu_bar menu_bar_right">
  <ul>
    
    <% if Rails.env.development? || AppConfig.subdomain == 'test' %>
      <li style="padding-top: 4px;">
        <select id="select_account" style="width: 260px;">
          <option>Select Account</option>
          <%= options_for_select(
            Account.select {|account| !account.default_admin.nil? }.collect {|account| 
              [
                "#{account.subdomain} (#{account.default_admin.user_name})", 
                dashboard_path(:tenant => account.subdomain, :auth_token => auth_token(account, account.default_admin))
              ] 
          }) %>
        </select>
      </li>

      <script type="text/javascript">
        $('#select_account').change(function(){
          window.location = $('#select_account').val();
        });
      </script>

    <% end %>

  </ul>
</div>

