<%
  dashboard_link = dashboard_url(:auth_token => @employee.authentication_token, :tenant => @account.subdomain)
%>
<!DOCTYPE html>
<html>
<head>
  <title><%= AppConfig.title %></title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style type="text/css">
    body {
      font-family: Tahoma, Helvetica, Arial, sans-serif;
      font-size: 10pt;
    }
    .block {
      margin-left: 20px;
    }
  </style>
</head>
<body>

  <p>Hello <%= @employee.full_name %>,</p>

  <p>Welcome to <strong><%= AppConfig.title %></strong>. You have been added as an employee on the <strong><%= @account.title %></strong> account!</p>

  <p>You can use the following URL to access your leave dashboard:</p>

  <p class="block">
  <strong><%= link_to dashboard_link, dashboard_link %></strong>
  </p>

  <p>Next steps:</p>
  <ul>
    <li>Setup a password for accessing your dashboard,</li>
    <li>Create a leave request.</li>
  </ul>

  <p>Thank You.</p>
  <p>
    <strong><%= @account.title %></strong><br />
    <%= link_to dashboard_link, dashboard_link %>
  </p>

</body>
</html>

