<% title "Leave Requests" %>
<% content_title "Leave Requests", "content_title_leave" %>

<div id="filter" style="margin-bottom: 10px;">
  <%= form_for @filter, :as => 'leave_request_filter', :url => employee_leave_requests_path(), :remote => true do |f| %>
    <%= error_messages_for @filter %>
    <table width="100%">
      <tr>
        <td width="120px">From:</td>
        <td width="30px"></td>
        <td class="field"><%= f.date_picker :date_from %></td>
        <td rowspan="3" style="vertical-align: bottom; align: right;">
          <div style="float: right;">
            <%= render_buttonset(:id => 'status', :name => 'leave_request_filter[status]') do |builder| %>
              <% builder.add_button("Pending", :value => LeaveRequest::STATUS_PENDING, :checked => @filter.status?(LeaveRequest::STATUS_PENDING)) %>
              <% builder.add_button("Approved", :value => LeaveRequest::FILTER_STATUS_APPROVED, :checked => @filter.status?(LeaveRequest::FILTER_STATUS_APPROVED)) %>
              <% builder.add_button("Declined", :value => LeaveRequest::STATUS_DECLINED, :checked => @filter.status?(LeaveRequest::STATUS_DECLINED)) %>
              <% builder.add_button("Cancelled", :value => LeaveRequest::STATUS_CANCELLED, :checked => @filter.status?(LeaveRequest::STATUS_CANCELLED)) %>
            <% end %>
          </div>
        </td>
      </tr>
      <tr>
        <td>To:</td>
        <td></td>
        <td class="field"><%= f.date_picker :date_to %></td>
      </tr>
      <tr>
        <td>Leave type:</td>
        <td></td>
        <td class="field">
          <%= f.select :leave_type_id, @leave_types.collect {|e| [e.to_s, e.id]}, { :include_blank => '<All Types>' }, { :class => 'dropdown', :style => 'width: 160px;' } %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="field">
          <%= f.check_box :requires_documentation_only %>
          <%= f.label :requires_documentation_only, 'Requires documentation?' %>
        </td>
      </tr>
    </table>
    <div style="display: none;"><%= f.submit %></div>  
  <% end %>
</div>

<div style="height: 32px; margin-bottom: 10px;">
  <div id="ajax_working">Loading leave requests...</div>
  <div id="paginator" style="display: none;">
  </div>
</div>

<table id="leave_requests" class="table_grid">
  <thead>
    <tr>
      <th width="20px"></th>
      <th width="20px"></th>
      <th>Type</th>
      <th>Employee</th>
      <th>Period</th>
      <th>Requested</th>
    </tr>
  </thead>
  <tbody id="data-rows">
    <tr class="no_hover">
      <td colspan="7">
        <p>Loading leave requests...</p>
      </td>
    </tr>
  </tbody>
</table>

<p style="text-align: right;">
  <%= link_to "Download CSV", employee_leave_requests_path(
                                :format => :csv, 
                                :leave_request_filter => @filter.attributes
                              ), :id => 'download_csv' %>
</p>

<%= table_grid_row_click_handler %>

<script type="text/javascript">
  $('#filter input, #filter select').change(function(){
    $('#ajax_working').css('display', '');
    $('#paginator').css('display', 'none');
    $('#leave_request_filter_new').submit();
  });
  $('#paginator a').live('ajax:before', function(e) { 
    $('#ajax_working').css('display', '');
    $('#paginator').css('display', 'none');
  });
</script>

<script type="text/javascript" defer="defer">
  $('#leave_request_filter_new').submit();
</script>