<% title "Apply for Leave" %>
<% content_title "Apply for Leave", "content_title_new_leave" %>

<%= form_for(@leave_request, :html => { :multipart => true }, :url => :create_employee_leave_request) do |f| %>

  <%= error_messages_for @leave_request %>

  <div class="leave_request_container">
  
    <div class="leave_request_left">
    
      <div class="field required">
        <div><%= f.label :leave_type_id %></div>
        <span><%= f.select :leave_type_id, @leave_types.collect {|e| [e.to_s, e.id]}, {}, { :class => 'dropdown', :style => 'width: 158px;' } %></span>
        <span><%= f.check_box :unpaid %><%= f.label :unpaid, 'Unpaid?' %></span>
        <span class="field_info"></span>
      </div>
      
      <div class="field required">
        <div><%= f.label :date_from %></div>
        <span><%= f.date_picker :date_from %></span>
        <span><%= f.check_box :half_day_from %></span>
        <span><%= f.label :half_day_from, 'Half day?' %></span>
        <span class="field_info"></span>
      </div>

      <div class="field required">
        <div><%= f.label :date_to %></div>
        <span><%= f.date_picker :date_to %></span>
        <span><%= f.check_box :half_day_to %></span>
        <span><%= f.label :half_day_to, 'Half day?' %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :comment %></div>
        <span><%= f.text_area :comment, :style => 'min-width: 378px; max-width: 755px; min-height: 96px; max-height: 156px;' %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :document %></div>
        <span><%= f.file_field :document %></span>
        <span class="field_info"></span>
      </div>

      <% if current_employee.can_choose_own_approver? %>
        <div class="field required">
          <div><%= f.label :approver_id %></div>
          <span><%= f.select :approver_id, current_account.employees.active_approvers.collect {|e| [e.to_s, e.id]}, { :include_blank => true }, { :class => 'dropdown' } %></span>
          <span class="field_info"></span>
        </div>
      <% end %>

    </div>

    <div class="leave_request_right">
      <div class="panel_box">
        <div class="panel_box_title box_radius_top">
          <div style="float: left;"><h2>Leave Balance</h2></div>
          <div id="ajax_working" style="float: right; margin-top: -4px; display: none;"></div>
        </div>
        <div id="leave_balance" class="panel_box_content">
          <%= render :partial => 'tenant/leave_requests/leave_balance', 
                     :locals => { :employee => current_employee,
                                  :leave_type => @leave_request.leave_type, 
                                  :date_from => @leave_request.date_from,
                                  :half_day_from => @leave_request.half_day_from,
                                  :date_to => @leave_request.date_to,
                                  :half_day_to => @leave_request.half_day_to,
                                  :unpaid => @leave_request.unpaid? } %>
        </div>
        <%= link_to 'Update Balance', '', :remote => true, :id => 'leave_balance_link', :style => 'display: none;' %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Apply for Leave' %> or <%= link_to 'cancel', dashboard_path %>
  </div>
  
<% end %>

<script type="text/javascript">
  var leave_type = $('#leave_request_leave_type_id');
  var date_from = $('#leave_request_date_from');
  var half_day_from = $('#leave_request_half_day_from');
  var date_to = $('#leave_request_date_to');
  var half_day_to = $('#leave_request_half_day_to');
  var unpaid = $('#leave_request_unpaid');
  
  leave_type.change(function(){ update_leave_balance(); });
  date_from.change(function(){ update_leave_balance(); });
  half_day_from.change(function(){ update_leave_balance(); });
  date_to.change(function(){ update_leave_balance(); });
  half_day_to.change(function(){ update_leave_balance(); });
  unpaid.change(function(){ update_leave_balance(); });
  
  function update_leave_balance() {
    $('#ajax_working').css('display', '');
    var path = '<%= leave_balance_url(:format => :js) %>' +
                 '?employee=<%= current_employee.id %>' +
                 '&leave_type=' + leave_type.val() + 
                 '&date_from=' + date_from.val() +
                 '&half_day_from=' + (half_day_from.is(':checked') ? '1' : '0') +
                 '&date_to=' + date_to.val() +
                 '&half_day_to=' + (half_day_to.is(':checked') ? '1' : '0') +
                 '&unpaid=' + (unpaid.is(':checked') ? '1' : '0');
    $('#leave_balance_link')
      .attr('href', path)
      .click();
  }
</script>

