<h1>Welcome to <%= AppConfig.title %></h1>

<ul>
  <li><%= link_to 'Register', new_registration_path %></li>
  <li><%= link_to 'Sign In', home_sign_in_path %></li>
</ul>
<ul>
  <li><%= link_to 'Features', home_features_path %></li>
  <li><%= link_to 'Subscriptions', home_subscriptions_path %></li>
  <li><%= link_to 'Terms & Conditions', home_terms_path %></li>
  <li><%= link_to 'Partner Program', home_partner_path %></li>
  <li><%= link_to 'Contact', home_contact_path %></li>
  <li><%= link_to 'About Us', home_about_path %></li>
</ul>

