<h1><%= AppConfig.title %></h1>
<em>Last Updated on 16 August, 2011.</em>

<div id="legal">

  <h2>PRIVACY AGREEMENT</h2>

  <p><%= AppConfig.company_name %> requires certain personal information to be provided by it&#39;s clients in order to operate 
  the functionality of the <%= AppConfig.title %> service.</p> 

  <p>This information includes the following, but is not limited to; individuals names, company names, contact details, 
  company position and leave entitlement.</p>

  <p>Any Personal Information collected shall also form part of <%= AppConfig.company_name %> database of clients and/or
  partners, as the case may be.</p> 

  <p><%= AppConfig.company_name %> shall rely on and use such personal information to communicate with its clients regarding 
  company updates and/or our product and service offerings.</p>

  <p>Personal information collected by <%= AppConfig.company_name %> may be stored and processed in South Africa or in any
  other country in which <%= AppConfig.company_name %> or its subsidiaries maintain facilities.</p>

  <p><%= AppConfig.company_name %> uses third party vendors and hosting partners to provide the necessary hardware, software, 
  networking, storage, and related technology required to run our services. Although <%= AppConfig.company_name %> owns 
  the code, databases, and all rights to the <%= AppConfig.product_group %> applications, you retain all rights to your data.</p>

  <p><%= AppConfig.company_name %> shall take all necessary measures to protect the confidentiality of any Personal 
  Information collected from its clients and partners. It shall also ensure that any Personal Information collected 
  shall be utilized by it or by its subsidiaries or agents strictly for business purposes.</p>

  <p>Except for disclosure to its subsidiaries or agents, <%= AppConfig.company_name %> shall not disclose any Personal 
  Information provided by its clients and partners to third parties unless it has obtained the prior consent of the 
  client or partner concerned. In no case shall <%= AppConfig.company_name %> sell, rent or lease any Personal 
  Information to third parties.</p>

  <h2>PRIVACY INQUIRIES OR COMPLAINTS</h2>

  <p><%= AppConfig.company_name %> commits to resolve complaints about your privacy and our collection or use of your 
  personal information. Any inquiries or complaints regarding this privacy policy should be addressed to 
  <%= mail_to AppConfig.info_email, AppConfig.info_email %>.</p>

</div>

