<% title "Subscriptions" %>

<%

  # HACK!!! Assumes that the subscriptions stored in the database 
  # "align" via the max employees and duration

  subscriptions = [
    ['Small', 25], 
    ['Small-Medium', 50], 
    ['Medium', 100], 
    ['Medium-Large', 150],
    ['Large', 300],
    ['Enterprise', 500],
    ['Enterprise+', 1000]
  ]

  currency_symbol = @country.currency_symbol || 'R'
  currency = @country.currency_code || 'ZAR'

%>

<table class="table_grid">
  <tr class="no_hover">
    <th>Subscription Plan</th>
    
    <% for subscription in subscriptions %>
      <th><%= subscription[0] %></th>
    <% end %>
    
  </tr>
  <tr class="no_hover">
    <td>Max Employees</td>
    
    <% for subscription in subscriptions %>
      <td width="90px">
        <%= subscription[1] %>
      </td>
    <% end %>
    
  </tr>
  <tr class="no_hover">
    <td>
      <div>Monthly Price*</div>
      <small>Paid Monthly</small>
    </td>

    <% for subscription in subscriptions %>
      <td>
        <%= currency_symbol %> <%= number_with_delimiter(@subscriptions.where(:max_employees => subscription[1], :duration => 1).first.price_for(@country).to_i) %>
      </td>
    <% end %>
  
  </tr>

  <tr class="no_hover">
    <td>
      <div>1 Year Price*</div>
      <small>Paid Annually</small>
    </td>

    <% for subscription in subscriptions %>
      <td>
        <%= currency_symbol %> <%= number_with_delimiter(@subscriptions.where(:max_employees => subscription[1], :duration => 12).first.price_for(@country).to_i) %>
      </td>
    <% end %>
  
  </tr>

  <tr class="no_hover">
    <td>
      <div>3 Year Price*</div>
      <small>Paid Annually</small>
    </td>

    <% for subscription in subscriptions %>
      <td>
        <%= currency_symbol %> <%= number_with_delimiter(@subscriptions.where(:max_employees => subscription[1], :duration => 36).first.price_for(@country).to_i) %>
      </td>
    <% end %>
  
  </tr>

  <tr class="no_hover">
    <td>
    </td>

    <% for subscription in subscriptions %>
      <td>
        <div class="button">
          <%= link_to 'Sign Up', new_account_registration_path(:subscription => subscription[1]) %>
        </div>
      </td>
    <% end %>
  
  </tr>

</table>

<div style="height: 32px">
  <div style="margin-top: 8px; float: left;">
    <%= link_to 'Sign Up', new_account_registration_path() %> for a Free Trial for <%= @default_subscription.max_employees %> employees.
  </div>

  <div style="margin-top: 8px; float: right; text-align: right;">
    <i>* All prices given in <%= currency %> currency.</i>
  </div>
</div>

<div class="clearfix"></div>

<style type="text/css">

  tr {
    height: 60px;
  }

  th {
    text-align: center; 
    border-right: 1px solid #C0C0C0;
  }

  td {
    text-align: center; 
    border-right: 1px solid #C0C0C0;
  }

  td small {
    font-size: 8pt;
  }
  
  th:nth-child(even) {
    background-color: #E0E0E0;
  }

  td:nth-child(even) {
    background-color: #E0E0E0;
  }
  
  th:first-child {
    text-align: left;
    border-right: 1px solid #C0C0C0;
    padding-left: 8px;
  }
  
  td:first-child {
    text-align: left;
    border-right: 1px solid #C0C0C0;
    padding-left: 14px;
  }

  th:last-child {
    border-right: none !important;
  }

  td:last-child {
    border-right: none !important;
  }

</style>

