<p>Leave Balance Details:</p>

<table>
  <tr>
    <td width="20px"></td>
    <td width="120px">Balance as at:</td>
    <td><%= @leave_request.date_from_s %></td>
  </tr>
  
  <% if @leave_balance.leave_type.can_take_on? && @leave_balance.take_on != 0 %>
    <tr>
      <td></td>
      <td>Take On:</td>
      <td><%= pluralize(format_duration(@leave_balance.take_on), 'day') %></td>
    </tr>
  <% end %>
  
  <% if @leave_balance.leave_type.can_carry_over? && @leave_balance.carried_forward != 0 %>
    <tr>
      <td></td>
      <td>Carried Forward:</td>
      <td><%= pluralize(format_duration(@leave_balance.carried_forward), 'day') %></td>
    </tr>
  <% end %>

  <tr>
    <td></td>
    <td>Allowance:</td>
    <td><%= pluralize(format_duration(@leave_balance.allowance), 'day') %></td>
  </tr>
  <tr>
    <td></td>
    <td><em>less</em> Leave taken:</td>
    <td><%= pluralize(format_duration(@leave_balance.leave_taken), 'day') %></td>
  </tr>
  <tr>
    <td></td>
    <td>Leave available:</td>
    <td><%= pluralize(format_duration(@leave_balance.available), 'day') %></td>
  </tr>
  <tr>
    <td></td>
    <td><em>less</em> Outstanding:</td>
    <td><%= pluralize(format_duration(@leave_balance.outstanding), 'day') %></td>
  </tr>
  <tr>
    <td></td>
    <td>Leave balance:</td>
    <td><%= pluralize(format_duration(@leave_balance.projected), 'day') %></td>
  </tr>
</table>

