<%
  dashboard_link = dashboard_url(:tenant => @account.subdomain)
%>

<p>Hello <%= @leave_request.employee.full_name %>,</p>

<% if @leave_request.captured? %>
<p><strong><%= @leave_request.captured_by.full_name %></strong> has captured a request for <strong><%= @leave_request.leave_type.to_s.downcase %></strong> leave.
<% if @leave_request.captured_by != @leave_request.approved_declined_by %><br />The request has been approved by <strong><%= @leave_request.approved_declined_by.fullname %></strong>.<% end %>
</p>
<% else %>
<p><strong><%= @leave_request.approved_declined_by.full_name %></strong> has approved your request for <strong><%= @leave_request.leave_type.to_s.downcase %></strong> leave.</p>
<% end %>

<%= render :partial => 'leave_details' %>
<%= render :partial => 'leave_balance' %>

<p>To review the leave request, please follow this link:</p>

<p class="block">
  <%= link_to 'View Leave Request', leave_request_url(@leave_request, :tenant => @account.subdomain) %>
</p>

<p>Thank You.</p>
<p>
  <strong><%= @account.title %></strong><br />
  <%= link_to dashboard_link, dashboard_link %>
</p>
