<% title "Administration" %>

<ul>
  <li><%= link_to "Account", edit_account_path %></li>
  <li><%= link_to "Leave Policies", edit_leave_types_path %></li>
</ul>
<ul>
  <li><%= link_to "Office Locations", locations_path %></li>
  <li><%= link_to "Departments", departments_path %></li>
</ul>
<ul>
  <li><%= link_to "Employees", employees_path %></li>
  <li><%= link_to "New Employee Bulk Upload", new_bulk_upload_path %></li>
</ul>
