<% title "Administration" %>

<ul>
  <li><%= link_to "Update Account", edit_account_path %></li>
  <li><%= link_to "Maintain Leave Policies", edit_leave_types_path %></li>
</ul>
<ul>
  <li><%= link_to "Maintain Office Locations", locations_path %></li>
  <li><%= link_to "Maintain Departments", departments_path %></li>
</ul>
<ul>
  <li><%= link_to "Maintain Staff", employees_path %></li>
  <li><%= link_to "New Staff Bulk Upload", new_bulk_upload_path %></li>
</ul>
