<!-- links for approvers -->
<%= render :partial => 'tenant/dashboard/employee/nav_bar' %>
<li class="approver"><%= link_to 'Staff Balances', staff_balance_path %></li>
<li class="approver"><%= link_to 'Staff Calendar', staff_calendar_path %></li>
<li class="approver"><%= link_to "Staff Leave Summary", staff_leave_summary_path %></li>
<li class="approver"><%= link_to "Staff Leave", staff_leave_requests_path %></li>

