<%
  dashboard_link = dashboard_url(:tenant => @resource.account.subdomain)
%>
<!DOCTYPE html>
<html>
<head>
  <title><%= AppConfig.title %></title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style type="text/css">
    body {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 10pt;
    }
    .block {
      margin-left: 20px;
    }
  </style>
</head>
<body>

  <p>Hello <%= @resource.full_name %>!</p>

  <p>Someone has requested a link to change your password, and you can do this through the link below.</p>

  <p class="block"><%= link_to 'Change my password', edit_password_url(@resource, :tenant => @resource.account.subdomain, :reset_password_token => @resource.reset_password_token) %></p>

  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>
  
  <p>
  <strong><%= @resource.account.title %></strong><br />
  <%= link_to dashboard_link, dashboard_link %>
  </p>

</body>
</html>
