<%
  dashboard_link = dashboard_url(:tenant => @resource.account.subdomain)
%>
<!DOCTYPE html>
<html>
<head>
  <title><%= AppConfig.title %></title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style type="text/css">
    body {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 10pt;
    }
    .block {
      margin-left: 20px;
    }
  </style>
</head>
<body>

  <p>Hello <%= @resource.full_name %>!</p>

  <p>Your account has been locked due to an excessive amount of unsuccessful sign in attempts.</p>

  <p>Your user name is: <strong><%= @resource.user_name %></strong></p>

  <p>Click the link below to unlock your account:</p>

  <p class="block"><%= link_to 'Unlock my account', unlock_url(@resource, :tenant => @resource.account.subdomain, :unlock_token => @resource.unlock_token) %></p>

  <p>
  <strong><%= @resource.account.title %></strong><br />
  <%= link_to dashboard_link, dashboard_link %>
  </p>

</body>
</html>

