<% title "Employee Bulk Upload" %>

<%= render @bulk_upload %>

<p>Please review the following employee data:</p>

<div id="filter" style="margin-bottom: 10px;">
  <%= form_for @bulk_upload, :as => '', :url => bulk_upload_records_path(@bulk_upload, :tenant => current_account.subdomain), :remote => true do |f| %>
    <table width="100%">
      <tr>
        <td width="120px"></td>
        <td width="30px"></td>
        <td class="field"></td>
        <td style="vertical-align: bottom; align: right;">
          <div style="float: right;">
            <%= render_buttonset(:id => 'status') do |builder| %>
              <% builder.add_button("All", :value => 'all', :checked => true) %>
              <% builder.add_button("Valid", :value => 'valid') %>
              <% builder.add_button("Errors", :value => 'errors') %>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
    <div style="display: none;"><%= f.submit %></div>  
  <% end %>
</div>

<div id="paginator" style="float: left;">
</div>

<div style="height: 32px; margin-bottom: 10px;">
  <div id="ajax_working">Loading employee data...</div>
</div>

<table id="employee_data" class="table_grid">
  <thead>
    <tr>
      <th width="20px"></th>
      <th width="25px">Line</th>
      <th>User Name</th>
      <th>Full Name</th>
      <th>Start Date</th>
      <th>Email</th>
      <th>Approver</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="data-rows">
    <tr class="no_hover">
      <td colspan="8">
        <p>Loading employee data...</p>
      </td>
    </tr>
  </tbody>
</table>

<div style="margin-top: 20px; line-height: 24px;">
  <strong>NOTE:</strong> Invalid rows will be skipped during the import phase.
</div>

<div style="margin-top: 20px;" class="clearfix">
  <div style="float: left; width: 190px; height: 35px;">
    <%= form_for @bulk_upload, :url => bulk_upload_path(@bulk_upload, :tenant => current_account.subdomain) do |f| %>
      <%= f.submit 'Import Employees',
                    :disable_with => 'Importing Employees...', 
                    :style => 'width: 186px;',
                    :disabled => @bulk_upload.records.selected.count() == 0 %>
    <% end %>
  </div>
  <div style="float: left; height: 35px; line-height: 35px;">
    or <%= link_to 'cancel', account_path %>
  </div>
</div>

<script type="text/javascript">
  $('#_edit').submit();
  $('#filter input').change(function(){
    $('#ajax_working').css('display', '');
    $('#paginator').css('display', 'none');
    $('#_edit').submit();
  });
  $('#paginator a').live('ajax:before', function(e) { 
    $('#ajax_working').css('display', '');
    $('#paginator').css('display', 'none');
  });
</script>

