<% title "Employee Bulk Upload" %>

<p>Bulk Upload Details:</p>
<div style="padding-left: 12px;">
  <div><span>Filename:</span> <%= @bulk_upload.csv.original_filename %></div>
  <% unless @bulk_upload.comment.blank? %>
    <div><span>Comment:</span> <%= @bulk_upload.comment %></div>
  <% end %>
  <div><span>Row Count:</span> <%= pluralize(@bulk_upload.records.count(), 'row') %></div>
  <div><span>Messages:</span> <%= @bulk_upload.messages %></div>
</div>

<p>Please review the following employee data, and applying the import:</p>

<div id="filter" style="margin-bottom: 10px;">
  <%= form_for @bulk_upload, :as => '', :url => bulk_upload_records_path(@bulk_upload, :tenant => current_account.subdomain), :remote => true do |f| %>
    <%= error_messages_for @filter %>
    <table width="100%">
      <tr>
        <td width="120px"></td>
        <td width="30px"></td>
        <td class="field"></td>
        <td style="vertical-align: bottom; align: right;">
          <div style="float: right;">
            <%= render_buttonset(:id => 'status') do |builder| %>
              <% builder.add_button("All", :value => 'all', :checked => true) %>
              <% builder.add_button("Valid", :value => 'valid') %>
              <% builder.add_button("Errors", :value => 'errors') %>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
    <div style="display: none;"><%= f.submit %></div>  
  <% end %>
</div>

<div id="paginator" style="float: left;">
</div>

<div style="height: 32px; margin-bottom: 10px;">
  <div id="ajax_working">Loading employee data...</div>
</div>

<table id="employee_data" class="table_grid">
  <thead>
    <tr>
      <th></th>
      <th>User Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Approver</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="data-rows">
    <tr class="no_hover">
      <td colspan="7">
        <p>Loading employee data...</p>
      </td>
    </tr>
  </tbody>
</table>

<div style="margin-top: 20px;">
  <%= button_to 'Import', dashboard_path, :disable_with => 'Importing...' %>
</div>

<script type="text/javascript">
  $('#_edit').submit();
  $('#filter input').change(function(){
    $('#ajax_working').css('display', '');
    $('#paginator').css('display', 'none');
    $('#_edit').submit();
  });
  $('#paginator a').live('ajax:before', function(e) { 
    $('#ajax_working').css('display', '');
    $('#paginator').css('display', 'none');
  });
</script>

