<% title "Employee Bulk Upload" %>

<p>Supply the following to upload employee data.</p>

<p>Download a <%= link_to 'template file', template_bulk_uploads_path(:format => :csv) %> to help get started.</p>

<%= form_for @bulk_upload, :html => { :multipart => true } do |f| %>
  
  <%= error_messages_for @bulk_upload %>

  <div class="field required">
    <div><%= f.label :csv, 'CSV file name' %></div>
    <span><%= f.file_field :csv %></span>
    <span class="field_info">Comma separated values file. Please see the file specification below.</span>
  </div>

  <div class="field">
    <div><%= f.label :comment %></div>
    <span><%= f.text_area :comment %></span>
    <span class="field_info"></span>
  </div>

  <div class="actions">
    <%= f.submit 'Upload', :disable_with => 'Uploading...', :style => 'width: 120px;' %> or <%= link_to 'cancel', account_path %>
  </div>

<% end %>

<div id="bulk_upload_info">

  <h3>Employee Bulk Upload CSV File Specification</h3>

  <p>The file must contain the following columns:</p>

  <table class="table_grid">
    <thead>
      <tr>
        <th width="300px">Column</th>
        <th width="60px">Required?</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    
      <tr>
        <td>reference</td>
        <td>Yes</td>
        <td>
          A <strong>unique</strong> reference for the employee. <br /> 
          It can be in any form, such as an identity number or social security number, provided it uniquely identifies the employee.
        </td>
      </tr>
    
      <tr>
        <td>title</td>
        <td></td>
        <td>
          <em>Optionally</em>, the title of the employee. <br />
          E.g. Dr, Prof, Mr, Mrs, Miss etc.
        </td>
      </tr>
    
      <tr>
        <td>first_name</td>
        <td>Yes</td>
        <td>The employee&apos;s first name.</td>
      </tr>
    
      <tr>
        <td>middle_name</td>
        <td></td>
        <td><em>Optionally</em>, The employee&apos;s middle or second name.</td>
      </tr>
    
      <tr>
        <td>last_name</td>
        <td>Yes</td>
        <td>The employee&apos;s last name or surname.</td>
      </tr>
    
      <tr>
        <td>gender</td>
        <td>Yes</td>
        <td>
          The gender of the employee. <br />  
          Valid values are upper case or lower case letters, and include:
          
          <ul>
            <li><strong>M</strong> for male,</li>
            <li><strong>F</strong> for female.</li>
          </ul>
          
        </td>
      </tr>
    
      <tr>
        <td>email</td>
        <td></td>
        <td>
          <em>Optionally</em>, a valid email address.
        </td>
      </tr>
    
      <tr>
        <td>telephone</td>
        <td></td>
        <td><em>Optionally</em>, a telephone number. Any format is acceptable.</td>
      </tr>
    
      <tr>
        <td>telephone_extension</td>
        <td></td>
        <td><em>Optionally</em>, the telephone extension number. Any format is acceptable.</td>
      </tr>
    
      <tr>
        <td>mobile</td>
        <td></td>
        <td><em>Optionally</em>, a cellular or mobile telephone number. Any format is acceptable.</td>
      </tr>
    
      <tr>
        <td>designation</td>
        <td></td>
        <td>
          <em>Optionally</em>, a designation for the employee. <br />
          E.g. Manager, Clerk, Salesperson etc.
        </td>
      </tr>
    
      <tr>
        <td>start_date</td>
        <td>Yes</td>
        <td>
          The employment start date of the employee. <br />
          Must be supplied in the <strong>YYYY/MM/DD</strong> format, where <em>YYYY</em> is the year including the century,
          <em>MM</em> is the month number (1 to 12) and <em>DD</em> is the day number for the respective month.
        </td>
      </tr>
    
      <tr>
        <td>location_name</td>
        <td></td>
        <td>
          <em>Optionally</em>, the office location where the employee is based. <br />
          <strong>NB:</strong> the corresponding <%= link_to 'office location', locations_path %> must exist. <br />
          If blank, will default to <strong><%= current_account.location %></strong>.
        </td>
      </tr>
    
      <tr>
        <td>department_name</td>
        <td></td>
        <td>
          <em>Optionally</em>, the employee&apos;s department. <br />
          <strong>NB:</strong> the corresponding <%= link_to 'department', departments_path %> must exist. <br />
          If blank, will default to <strong><%= current_account.department %></strong>.
        </td>
      </tr>
    
      <tr>
        <td>approver_first_and_last_name</td>
        <td>Yes</td>
        <td>
          The first and last name of the approver for this employee.<br />
          E.g. John Doe<br />
          <strong>NB:</strong> the corresponding <%= link_to 'approver', employees_path %> must exist, or be contained
          in the file being uploaded. <br />
          If blank, then will default to <strong><%= current_employee %></strong>.
        </td>
      </tr>
    
      <tr>
        <td>role</td>
        <td></td>
        <td>
          <em>Optionally</em>, the employee&apos;s role in the system. Defaults to <em>Employee</em>.<br />
          <strong>NB:</strong> must be one of the following: <br />
          <ul>
            <li><cite>Employee</cite> - The default for employees.</li>
            <li><cite>Approver</cite> - Can approve leave of directly linked staff.</li>
            <li><cite>Manager</cite> - Can approve leave of all linked staff in hierarchy.</li>
            <li><cite>Admin</cite> - Can administer the system, and approve leave of any staff member.</li>
          </ul>

        </td>
      </tr>
    
      <tr>
        <td>take_on_balance_as_at</td>
        <td><strong>*</strong></td>
        <td>
          The effective date for the take on balances. <br />
          If given, needs to be in <strong>YYYY/MM/DD</strong> format, where <em>YYYY</em> is the year including the century,
          <em>MM</em> is the month number (1 to 12) and <em>DD</em> is the day number for the respective month. <br />
          <p><strong>*Required</strong> if take on balances are given.</p>
        </td>
      </tr>
    
      <tr>
        <td>annual_leave_take_on</td>
        <td></td>
        <td>
          <em>Optionally</em>, the take on balance for annual leave.<br />
          Defaults to zero if not given or ignored if <em>take_on_balance_as_at</em> is blank.
        </td>
      </tr>
    
      <tr>
        <td>educational_leave_take_on</td>
        <td></td>
        <td>
          <em>Optionally</em>, the take on balance for educational leave.<br />
          Defaults to zero if not given or ignored if <em>take_on_balance_as_at</em> is blank.
        </td>
      </tr>
    
      <tr>
        <td>medical_leave_take_on</td>
        <td></td>
        <td>
          <em>Optionally</em>, the take on balance for medical leave.<br />
          Defaults to zero if not given or ignored if <em>take_on_balance_as_at</em> is blank.
        </td>
      </tr>
    
      <tr>
        <td>compassionate_leave_take_on</td>
        <td></td>
        <td>
          <em>Optionally</em>, the take on balance for compassionate leave.<br />
          Defaults to zero if not given or ignored if <em>take_on_balance_as_at</em> is blank.
        </td>
      </tr>
    
      <tr>
        <td>maternity_leave_take_on</td>
        <td></td>
        <td>
          <em>Optionally</em>, the take on balance for maternity leave.<br />
          Defaults to zero if not given or ignored if <em>take_on_balance_as_at</em> is blank.
        </td>
      </tr>
    
    </tbody>

  </table>

  <p>Download a <%= link_to 'template file', template_bulk_uploads_path(:format => :csv) %> to help get started.</p>

</div>

