<%= form_for(@department, :url => @department.persisted? ? department_path(:tenant => current_account.subdomain, :id => @department.to_param) : departments_path) do |f| %>

  <%= error_messages_for @department %>

  <div class="field">
    <div><%= f.label :title %></div>
    <span><%= f.text_field :title %></span>
    <span class="field_info"></span>
  </div>

  <div class="actions">
    <%= f.submit %> or <%= link_to 'cancel', departments_path %>
  </div>
  
<% end %>

