<%= builder.fields_for employee do |f| %>

  <%= error_messages_for employee %>

  <h3>Personal Information</h3>          
        
  <div class="field">
    <div><%= f.label :first_name %></div>
    <span><%= f.text_field :first_name %></span>
    <span class="field_info"></span>
  </div>

  <div class="field">
    <div><%= f.label :last_name %></div>
    <span><%= f.text_field :last_name %></span>
    <span class="field_info"></span>
  </div>

  <h3>Contact Information</h3>          
        
  <div class="field">
    <div><%= f.label :email %></div>
    <span><%= f.text_field :email %></span>
    <span class="field_info"></span>
  </div>

  <h3>Authentication</h3>

  <div class="field">
    <div><%= f.label :user_name %></div>
    <span><%= f.text_field :user_name %></span>
    <span class="field_info"></span>
  </div>

  <div class="field">
    <div><%= f.label :password %></div>
    <span><%= f.password_field :password %></span>
    <span class="field_info"></span>
  </div>

  <div class="field">
    <div><%= f.label :password_confirmation %></div>
    <span><%= f.password_field :password_confirmation %></span>
    <span class="field_info"></span>
  </div>

<% end %>

<script type="text/javascript">

  function to_name(src) {
    return src.replace(/[^(A-Z|a-z|0-9)]/ig, '').toLowerCase();
  }

  // set user name based on the first and last names
  var first_name = $("#account_employee_first_name");
  var last_name = $("#account_employee_last_name");
  var user_name = $("#account_employee_user_name");
  
  first_name.change(function() {
    update_user_name();
  });
  
  last_name.change(function() {
    update_user_name();
  });
  
  function update_user_name() {
    if (first_name.val() && last_name.val() && user_name.val() == "") {
      user_name.val(to_name(first_name.val()) + "." + to_name(last_name.val()));  
    }
  }
  
</script>

