<% title "Account Setup" %>

<p>Supply the following information to setup your <strong><%= @account.title %></strong> account.</p>

<%= form_for(@account_setup, :url => update_account_setup_path(:token => params[:token])) do |f| %>

  <%= error_messages_for @account_setup %>
  
  <h2>Administrator</h2>

  <div style="margin-left: 10px;">
    <h3>Personal Details</h3>
    
    <div class="clearfix">

      <div class="field required" style="float: left; width: 457px;">
        <div><%= f.label :admin_first_name, 'First name' %></div>
        <span><%= f.text_field :admin_first_name %></span>
        <span class="field_info"></span>
      </div>
      
      <div class="field required" style="float: left; width: 457px;">
        <div><%= f.label :admin_last_name, 'Last name' %></div>
        <span><%= f.text_field :admin_last_name %></span>
        <span class="field_info"></span>
      </div>

    </div>
    
    <h3>Authentication</h3>
    
    <div class="field required">
      <div><%= f.label :admin_user_name, 'User name' %></div>
      <span><%= f.text_field :admin_user_name %></span>
      <span class="field_info"></span>
    </div>
    
    <div class="clearfix">

      <div class="field required" style="float: left; width: 457px;">
        <div><%= f.label :admin_password, 'Password' %></div>
        <span><%= f.password_field :admin_password %></span>
        <span class="field_info"></span>
      </div>
      
      <div class="field required" style="float: left; width: 457px;">
        <div><%= f.label :admin_password_confirmation, 'Password confirmation' %></div>
        <span><%= f.password_field :admin_password_confirmation %></span>
        <span class="field_info"></span>
      </div>

    </div>
    
    <h3>Contact Information</h3>
    
    <div class="field required">
      <div><%= f.label :admin_email, 'Email' %></div>
      <span><%= f.text_field :admin_email %></span>
      <span class="field_info"></span>
    </div>
  
  </div>
    
  <h2>Account Settings</h2>

  <div style="margin-left: 10px;">
    <h3>Leave Policy Settings</h3>

    <div class="clearfix">
      <div class="field required" style="float: left; width: 457px;">
        <div><%= f.label :fixed_daily_hours %></div>
        <span><%= f.text_field :fixed_daily_hours, :style => 'width: 158px;' %></span>
        <span class="field_info"></span>
      </div>
    
      <div class="field required" style="float: left; width: 457px;">
        <div><%= f.label :leave_cycle_start_date, 'Annual Leave cycle start date' %></div>
        <span><%= f.date_select :leave_cycle_start_date, :discard_year => true, :order => [:day, :month] %></span>
        <span class="field_info">Usually the first day of a month</span>
      </div>
    </div>

    <div class="clearfix">

    <% LeaveType.for_each_leave_type_name do |leave_type_name| %>
    
      <div class="field required" style="float: left; width: 457px;">
        <div><%= f.label :"#{leave_type_name}_leave_allowance" %></div>
        <span><%= f.text_field :"#{leave_type_name}_leave_allowance", :style => 'width: 158px;' %></span>
        <span class="field_info">days</span>
      </div>

    <% end %>

    </div>

  </div>
  
  <% if @account_setup.auth_token == @account_setup.auth_token_confirmation %>
  
    <%= f.hidden_field :auth_token_confirmation %>
    
  <% else %>

    <h2>Setup Verification</h2>
    
    <div style="margin-left: 10px;">
      <div class="field required">
        <div><%= f.label :auth_token_confirmation, 'Token' %></div>
        <span><%= f.text_field :auth_token_confirmation %></span>
        <span class="field_info">The token was sent via email at registration.</span>
      </div>
    </div>
    
  <% end %>
  
  <div style="height: 10px;"></div>

  <div class="actions">
    <%= f.submit "Setup Account" %>
  </div>  

<% end %>

