<% title "Account Setup" %>

<p>Supply the following information to setup you <strong><%= @account.title %></strong> account.</p>

<%= form_for(@account_setup, :url => :update_account_setup, :method => :put) do |f| %>

  <%= error_messages_for @account_setup %>
  
  <h2>Administrator</h2>
  
  <div class="field">
    <div><%= f.label :admin_first_name %></div>
    <span><%= f.text_field :admin_first_name %></span>
    <span class="field_info"></span>
  </div>
  
  <div class="field">
    <div><%= f.label :admin_last_name %></div>
    <span><%= f.text_field :admin_last_name %></span>
    <span class="field_info"></span>
  </div>
  
  <h2>Authentication</h2>
  
  <div class="field">
    <div><%= f.label :admin_user_name %></div>
    <span><%= f.text_field :admin_user_name %></span>
    <span class="field_info"></span>
  </div>
  
  <div class="field">
    <div><%= f.label :admin_password %></div>
    <span><%= f.password_field :admin_password %></span>
    <span class="field_info"></span>
  </div>
  
  <div class="field">
    <div><%= f.label :admin_password_confirmation %></div>
    <span><%= f.password_field :admin_password_confirmation %></span>
    <span class="field_info"></span>
  </div>
  
  <h2>Leave Policies</h2>

  

<% end %>

