<% if leave_type.nil? || date_from.nil?  %>

<p>Please supply a <em>leave type</em>, <em>from</em> and <em>to</em> date.</p>

<% else

    leave_allowance = leave_type.allowance_for(employee, date_from)
    # TODO: get take on balance, if in the current leave cycle
    leave_taken_to_date = leave_type.leave_taken_for(employee, date_from)
    leave_balance = leave_allowance - leave_taken_to_date
  
%>

  <p>As at <strong><%= date_from.strftime("%e %b %Y") %></strong></p>

  <div class="field">
    <div><%= label_tag :leave_allowance %></div>
    <span><%= text_field_tag :leave_allowance, leave_allowance, { :style => 'width: 158px;', :disabled => true} %></span>
    <span class="field_info">days</span>
  </div>
  
  <!-- TODO: show take on balance -->

  <div class="field">
    <div><em>less</em> <%= label_tag :leave_taken %></div>
    <span><%= text_field_tag :leave_taken, leave_taken_to_date, { :style => 'width: 158px;', :disabled => true} %></span>
    <span class="field_info">days</span>
  </div>

  <div class="field">
    <div class="total_row"><%= label_tag :leave_balance %></div>
    <span><%= text_field_tag :leave_balance, leave_balance, { :style => 'width: 158px;', :disabled => true} %></span>
    <span class="field_info">days</span>
  </div>

  <% unless date_to.nil? 

    # create dummy request (which isn't saved) to calculate the duration
    request_duration = current_account.leave_requests.build(
      :employee_id => employee.id,
      :leave_type_id => leave_type.id,
      :date_from => date_from,
      :half_day_from => half_day_from,
      :date_to => date_to,
      :half_day_to => half_day_to
    ).calculate_duration

  %>
  
  <p></p>

  <div class="field">
    <div><em>less</em> <%= label_tag :leave_requested %></div>
    <span><%= text_field_tag :leave_requested, request_duration, { :style => 'width: 158px;', :disabled => true} %></span>
    <span class="field_info">days</span>
  </div>

  <div class="field">
    <div class="total_row"><%= label_tag :new_balance %></div>
    <span><%= text_field_tag :new_balance, leave_balance - request_duration, { :style => 'width: 158px;', :disabled => true} %></span>
    <span class="field_info">days</span>
  </div>

  <% end %>

<% end %>
