<div class="leave_request box_radius">
  <h3>Leave Request Details</h3>
  <table>

    <tr>
      <td width="140px">For:</td>
      <td width="220px"><%= leave_request.employee %></td>
      <td></td>
    </tr>
    
    <tr>
      <td>Created:</td>
      <td><%= leave_request.created_at_s %></td>
      <td></td>
    </tr>

    <% if leave_request.captured? %>

      <tr>
        <td>Captured By:</td>
        <td><%= leave_request.captured_by %></td>
        <td></td>
      </tr>
      
      <tr>
        <td colspan="3"><br /></td>
      </tr>
      
    <% end %>

    <tr>
      <td>Type:</td>
      <td><%= leave_request.leave_type %> Leave</td>
      <td></td>
    </tr>
    
    <% if leave_request.unpaid %>
      <tr>
        <td>Unpaid:</td>
        <td><strong>Yes</strong></td>
        <td></td>
      </tr>
    <% end %>

    <tr>
      <td>Date From/To:</td>
      <td><%= leave_request.date_from_s %> to <%= leave_request.date_to_s %></td>
      <td></td>
    </tr>

    <tr>
      <td><abbr title="Excludes weekends and public holidays">Duration</abbr>:</td>
      <td><%= pluralize(leave_request.duration, 'day') %></td>
      <td></td>
    </tr>
    
    <% if leave_request.document_attached? %>
    <tr>
      <td>Document:</td>
      <td><%= link_to leave_request.document_file_name, leave_request.document.url %></td>
      <td></td>
    </tr>
    <% end %>
    
    <% if leave_request.comment.present? %>
    <tr>
      <td style="vertical-align: top;">Comment:</td>
      <td colspan="2">
        <div style="overflow: auto;">
          <%= leave_request.comment %>
        </div>
      </td>
    </tr>
    <% end %>

    <tr>
      <td>Assigned Approver:</td>
      <td><%= leave_request.approver %></td>
    </tr>

  </table>

</div>

<% unless leave_request.status_new? %>
  <div class="leave_request box_radius">
    <h3>Leave Status</h3>
    <table>

      <tr>
        <td width="140px">Status:</td>
        <td width="220px"><%= leave_request.status_text %></td>
        <td></td>
      </tr>
      
      <%= render :partial => "leave_request_detail_#{leave_request.status_text.downcase}", :locals => { :leave_request => leave_request } %>

    </table>
  </div>
<% end %>

<% if leave_request.status_new? || leave_request.status_active? %>

  <div class="leave_request box_radius">
    <h3>Leave Balance Details</h3>
    <table>

      <tr>
        <td width="140px">Balance as at:</td>
        <td width="220px"><%= leave_request.date_from_s %></td>
        <td></td>
      </tr>

      <% if leave_request.leave_balance.take_on > 0 %>
        <tr>
          <td>Take On:</td>
          <td><%= pluralize(number_with_precision(leave_request.leave_balance.take_on, :precision => 1), 'day') %></td>
          <td></td>
        </tr>
      <% end %>

      <tr>
        <td>Allowance:</td>
        <td><%= pluralize(number_with_precision(leave_request.leave_balance.allowance, :precision => 1), 'day') %></td>
        <td></td>
      </tr>

      <tr>
        <td><abbr title="Leave taken or pending prior to this request"><i>less</i> Leave taken</abbr>:</td>
        <td><%= pluralize(number_with_precision(leave_request.leave_balance.leave_taken, :precision => 1), 'day') %></td>
        <td></td>
      </tr>

      <tr>
        <td>Leave available:</td>
        <td><%= pluralize(number_with_precision(leave_request.leave_balance.available, :precision => 1), 'day') %></td>
        <td></td>
      </tr>

      <tr>
        <td><i>less</i> Requested:</td>
        <td><%= pluralize(number_with_precision(leave_request.duration, :precision => 1), 'day') %></td>
        <td></td>
      </tr>

      <tr>
        <td><abbr title="Leave balance including this request">Leave balance</abbr>:</td>
        <td><%= pluralize(number_with_precision(leave_request.leave_balance.projected, :precision => 1), 'day') %></td>
        <td></td>
      </tr>
      
    </table>

  </div>

<% end %>

