<% if employee.nil? || leave_type.nil? || date_from.nil? || (!date_to.nil? && date_from > date_to)  %>

  <% if employee.nil? %>
    <p>Please supply an <em>employee</em>, <em>leave type</em>, <em>from</em> and <em>to</em> dates.</p>
  <% else %>
    <p>Please supply a <em>leave type</em>, <em>from</em> and <em>to</em> dates.</p>
  <% end %>

<% else

  leave_allowance = leave_type.allowance_for(employee, date_from)
  leave_take_on = leave_type.leave_take_on_for(employee, date_from)
  leave_taken = leave_type.leave_taken_for(employee, date_from)
  unpaid_leave_taken = leave_type.leave_taken_for(employee, date_from, true)
  leave_available = leave_allowance - leave_take_on - leave_taken
  
%>

  <p>As at <strong><%= date_from.strftime("%e %b %Y") %></strong></p>

  <div class="field">
    <div><%= label_tag :leave_allowance, 'Allowance', :title => 'Allowance for the current leave cycle' %></div>
    <span><%= text_field_tag :leave_allowance, number_with_precision(leave_allowance, :precision => 2), { :style => 'width: 158px;', :disabled => true} %></span>
    <span class="field_info">days</span>
  </div>
  
  <% if leave_take_on > 0 %>
    <div class="field">
      <div><em>less</em> <%= label_tag :take_on_balance, 'Take on', :title => 'Take on leave balance' %></div>
      <span><%= text_field_tag :take_on_balance, number_with_precision(leave_take_on, :precision => 2), { :style => 'width: 158px;', :disabled => true} %></span>
      <span class="field_info">days</span>
    </div>
  <% end %>

  <div class="field">
    <div><em>less</em> <%= label_tag :leave_taken, 'Leave taken', :title => 'Leave taken to date' %></div>
    <span><%= text_field_tag :leave_taken, number_with_precision(leave_taken, :precision => 2), { :style => 'width: 158px;', :disabled => true} %></span>
    <span class="field_info">days</span>
  </div>
  
  <div class="field">
    <div class="total_row"><strong><%= label_tag :leave_available, 'Available leave', :title => 'Available leave balance for the current cycle' %></strong></div>
    <span><%= text_field_tag :leave_available, number_with_precision(leave_available, :precision => 2), { :style => 'width: 158px;', :disabled => true} %></span>
    <span class="field_info">days</span>
  </div>

  <% unless date_to.nil? 

    # create dummy request (which isn't saved) to calculate the duration
    request_duration = current_account.leave_requests.build(
      :employee_id => employee.id,
      :leave_type_id => leave_type.id,
      :date_from => date_from,
      :half_day_from => half_day_from,
      :date_to => date_to,
      :half_day_to => half_day_to
    ).calculate_duration

  %>
  
    <div class="field">
      <div><%= unpaid ? 'Unpaid' : raw('<em>less</em>') %> <%= label_tag :leave_requested, 'Leave requested', :title => 'The duration of this leave request' %></div>
      <span><%= text_field_tag :leave_requested, number_with_precision(request_duration, :precision => 2), { :style => 'width: 158px;', :disabled => true} %></span>
      <span class="field_info">days</span>
    </div>

    <div class="field">
      <div class="total_row"><strong><%= label_tag :balance, 'Balance', :title => 'The new leave balance, taking into account this leave request' %></strong></div>
      <span><%= text_field_tag :balance, number_with_precision(leave_available - (unpaid ? 0 : request_duration), :precision => 2), { :style => 'width: 158px;', :disabled => true} %></span>
      <span class="field_info">days</span>
    </div>

    <% if (unpaid_leave_taken > 0) || unpaid %>
      <div style="height: 12px;"></div>
      <div class="field">
        <div><%= label_tag :unpaid_leave, 'Unpaid leave',:title => 'Number of days of unpaid leave taken or outstanding' %></div>
        <span><%= text_field_tag :unpaid_leave, number_with_precision(unpaid_leave_taken + (unpaid ? request_duration : 0), :precision => 2), { :style => 'width: 158px;', :disabled => true} %></span>
        <span class="field_info">days</span>
      </div>
    <% end %>

  <% end %>

<% end %>

<% if employee != current_employee %>
  <p class="detailed_leave_balance_link"><%= link_to 'Detailed Balance', balance_path(:employee => employee.to_param), :target => '_blank' %></p>
<% else %>
  <p class="detailed_leave_balance_link"><%= link_to 'Detailed Balance', balance_path, :target => '_blank' %></p>
<% end %>

