<p>The <%= @leave_request.leave_type.to_s.downcase %> leave request for <strong><%= @leave_request.employee %></strong> is <strong>approved</strong>!</p>

<%= render :partial => 'leave_request_detail', :locals => { :leave_request => @leave_request } %>

<% if @leave_request.can_update_constraints?(current_employee) %>
  <%= render :partial => 'edit_leave_request_constraints', :locals => { :leave_request => @leave_request } %>
<% else %>
  <%= render :partial => 'leave_request_constraints', :locals => { :leave_request => @leave_request } %>
<% end %>

<% if @leave_request.can_cancel?(current_employee) %>

  <%= form_for @leave_request, :url => cancel_leave_request_path(@leave_request, :tenant => current_account.subdomain) do |f| %>

    <div class="actions">
      <%= f.submit 'Cancel Leave' %>
    </div>

  <% end %>

<% end %>

<div id="upload_document_dialog">

  <%= form_for @leave_request, 
               :as => 'leave_request_document',
               :url => update_document_leave_request_path(@leave_request, :tenant => current_account.subdomain),
               :html => { :multipart => true } do |f| %>

    <div class="field">
      <%= f.label :document %> <br />
      <%= f.file_field :document %>
    </div>

    <div class="actions" style="text-align: right;">
      <%= f.submit 'Upload', :disable_with => 'Uploading...' %>
    </div>

  <% end %>

  <script type="text/javascript">
    $('#upload_document_dialog').dialog({
      title: 'Upload Document',
      autoOpen: false,
      width: 375,
      height: 164,
      model: true
    });
  </script>

</div>