<% if @leave_request.can_authorise?(current_employee) %>

  <p>The <%= @leave_request.leave_type.to_s.downcase %> leave request for <strong><%= @leave_request.employee %></strong> needs to be <strong>approved</strong> or <strong>declined</strong> by <%=raw @leave_request.approver_id == current_employee.id ? "you" : "<strong>#{@leave_request.approver}</strong>" %>.</p>

  <%= form_for @leave_request, :url => approve_leave_request_path(@leave_request, :tenant => current_account.subdomain) do |f| %>

    <%= render :partial => 'leave_request_detail', :locals => { :leave_request => @leave_request, :show_balance => true } %>

    <div class="leave_request">
      <h3>Approval Details</h3>

      <div class="field">
        <div><%= f.label :approver_comment, 'Comment' %></div>
        <span><%= f.text_area :approver_comment, :style => 'min-width: 378px; max-width: 724px; min-height: 96px; max-height: 156px;' %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <span><%= f.check_box :unpaid %></span>
        <span><%= f.label :unpaid, 'Unpaid Leave?' %></span>
        <span class="field_info"></span>
      </div>
      
    </div>
    
    <%= render :partial => 'leave_request_constraint_overrides', :locals => { :f => f, :leave_request => @leave_request } %>

    <div class="actions">
      <%= f.submit 'Approve' %> or <a href="javascript: decline();">decline</a> the leave request.
    </div>
    
    <script type="text/javascript">
      var form = $('form:first');
      function decline() {
        form.attr('action', '<%= decline_leave_request_path(@leave_request, :tenant => current_account.subdomain) %>');
        form.submit();
      }
    </script>

  <% end %>

<% else %>

  <p>The <%= @leave_request.leave_type.to_s.downcase %> leave request for <strong><%= @leave_request.employee %></strong> is <strong>pending</strong> approval by <strong><%= @leave_request.approver %></strong>.</p>

  <%= render :partial => 'leave_request_detail' %>

  <% if @leave_request.can_cancel?(current_employee) %>
    <%= form_for @leave_request, :url => cancel_leave_request_path(@leave_request, :tenant => current_account.subdomain) do |f| %>
      <div class="actions">
        <%= f.submit 'Cancel Leave Request' %>
      </div>
    <% end %>
  <% end %>

<% end %>

