<p>The <%= @leave_request.leave_type.to_s.downcase %> leave request for <strong><%= @leave_request.employee %></strong> is <strong>cancelled</strong>!</p>

<%= render :partial => 'leave_request_detail', :locals => { :leave_request => @leave_request } %>
<%= render :partial => 'leave_request_constraints', :locals => { :leave_request => @leave_request } %>

<div class="leave_request_actions">
  <% if @leave_request.can_authorise?(current_employee) %>
    <%= button_to 'Reinstate Leave', reinstate_leave_request_path(@leave_request, :tenant => current_account.subdomain), :method => :put %>
    <% if @leave_request.employee == current_employee %> or <% end %>
  <% end %> 
  <% if @leave_request.employee == current_employee %>
    <%= link_to 'Re-apply', new_employee_leave_request_path(:tenant => current_account.subdomain, :leave_type => @leave_request.leave_type, :from => @leave_request.date_from, :to => @leave_request.date_to) %> for leave?
  <% end %>
</div>
