<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? AppConfig.title + ' - ' + yield(:title) : AppConfig.title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="<%= AppConfig.meta_description %>" />
  <meta name="keywords" content="<%= AppConfig.meta_keywords %>" />
  <meta name="robots" content="<%= content_for?(:robots) ? yield(:robots) : 'noindex' %>" />
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold&subset=cyrillic,latin' rel='stylesheet' type='text/css' />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>

  <div id="container">
  
    <div id="top_bg">
      <div id="top">
        <div class="header_row background_1">
          <%= render :partial => "#{partials_path}/header" %>
        </div>
        <div class="header_menu_row background_2">
          <%= render :partial => "#{partials_path}/menu" %>
        </div>
      </div>
    </div>
  
    <div id="center_bg">
      <div id="center">
        <div class="row">
          <div class="column grid_12">

            <div id="center_container">

              <div id="content_body">
              
                <% if content_for?(:title) %>
                  <h1 class="content_title"><%= yield(:title) %></h1>
                <% end %>

                <div id="flash">
                  <%= render :partial => "shared/flash", :locals => { :flash => flash } %>
                </div>

                <%= yield %>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  
    <div id="bottom_bg">
      <div id="bottom" class="row background_3">
        <div class="column grid_12">
          <%= render :partial => "#{partials_path}/footer" %>
        </div>
      </div>
    </div>
  
  </div>

</body>
</html>