<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <title><%= content_for?(:title) ? AppConfig.title + ' - ' + yield(:title) : AppConfig.title %></title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="<%= AppConfig.meta_description %>" />
  <meta name="keywords" content="<%= AppConfig.meta_keywords %>" />
  <meta name="robots" content="<%= content_for?(:robots) ? yield(:robots) : 'noindex' %>" />
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold&subset=cyrillic,latin' rel='stylesheet' type='text/css' />
  <!--[if lt IE 9]>
  <%= javascript_include_tag 'html5' %>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'google_analytics' %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>

  <div id="container">
  
    <div id="top_bg">
      <div id="top">
        <div class="header_row background_1">
          <%= render :partial => "tenant/dashboard/header" %>
        </div>
        <div class="header_menu_row background_2">
          <%= render :partial => "tenant/dashboard/menu" %>
        </div>
      </div>
    </div>
  
    <div id="center_bg">
      <div id="center">
        <div class="row">
          <div class="column grid_12">

            <div id="center_container">

              <div class="left_bar">
                <div class="nav_bar">
                  <%= render :partial => "tenant/dashboard/nav_bar" %>
                </div>
              </div>

              <div class="center_bar">
                
                <div class="content_box box_radius">

                  <div id="content_title" class="box_radius_top background_4">
                    <div id="content_title_image" class=" <%= content_for?(:content_title_class) ? yield(:content_title_class) : '' %>">
                      <h2><%= yield(:content_title) %></h2>
                    </div>
                  </div>
                
                  <div id="content_body">
                
                    <div id="flash">
                      <%= render :partial => "shared/flash", :locals => { :flash => flash } %>
                    </div>

                    <% if content_for?(:content_header) %>
                    <div id="content_header">
                      <%= yield(:content_header) %>
                    </div>
                    <% end %>

                    <div id="content_main">
                      <%= yield %>
                    </div>

                    <% if content_for?(:content_footer) %>
                    <div id="content_footer">
                      <%= yield(:content_footer) %>
                    </div>
                    <% end %>

                  </div>

                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  
    <div id="bottom_bg">
      <div id="bottom" class="row background_3">
        <div class="column grid_12">
          <%= render :partial => "tenant/dashboard/footer" %>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="column grid_12 centered" style="color: gray; margin-bottom: 12px;">
        Best viewed and supported in an HTML <%= link_to image_tag('../images/html5.png', :width => 16, :height => 16, :alt => '5'), 'http://html5test.com' %> compliant browser.
      </div>    
    </div>

  </div>

</body>
</html>
