<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? AppConfig.title + ' - ' + yield(:title) : AppConfig.title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="noindex, nofollow" />
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold&subset=cyrillic,latin' rel='stylesheet' type='text/css' />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>

  <div id="container">
  
    <div id="top_bg">
      <div id="top">
        <div class="header_row background_1">
          <%= render :partial => "tenant/dashboard/header" %>
        </div>
        <div class="header_menu_row background_2">
          <%= render :partial => "tenant/dashboard/menu" %>
        </div>
      </div>
    </div>
  
    <div id="center_bg">
      <div id="center">
        <div class="row">
          <div class="column grid_12">

            <div id="center_container">

              <div class="left_bar">
                <div class="nav_bar">
                  <%= render :partial => "tenant/dashboard/nav_bar" %>
                </div>
              </div>

              <div class="center_bar">
                
                <div class="content_box box_radius">

                  <div id="content_title" class="box_radius_top background_4">
                    <h2><%= yield(:content_title) %></h2>
                  </div>
                
                  <div id="content_body">
                
                    <div id="flash">
                      <%= render :partial => "shared/flash", :locals => { :flash => flash } %>
                    </div>

                    <% if content_for?(:content_header) %>
                    <div id="content_header">
                      <%= yield(:content_header) %>
                    </div>
                    <% end %>

                    <div id="content_main">
                      <%= yield %>
                    </div>

                    <% if content_for?(:content_footer) %>
                    <div id="content_footer">
                      <%= yield(:content_footer) %>
                    </div>
                    <% end %>

                  </div>

                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  
    <div id="bottom_bg">
      <div id="bottom" class="row background_3">
        <div class="column grid_12">
          <%= render :partial => "tenant/dashboard/footer" %>
        </div>
      </div>
    </div>
  
  </div>

</body>
</html>