<%= form_for(@employee, :url => @employee.persisted? ? employee_path(@employee, :tenant => current_account.subdomain) : employees_path, :html => { :multipart => true }) do |f| %>

  <%= error_messages_for @employee %>

  <%= render_tabs(:height => '620px') do |b| %>

    <% b.add_tab('Personal') do %>

      <div>
        <%= image_tag(@employee.avatar.url(:avatar), :width => 48, :height => 48, :class => 'avatar boxradius box_shadow') %>
      </div>

      <div class="field">
        <div><%= f.label :avatar %></div>
        <span><%= f.file_field :avatar %></span>
        <span class="field_info">Employee picture. 48x48 pixels in size.</span>
      </div>

      <div class="field">
        <div><%= f.label :title %></div>
        <span><%= f.text_field :title, :maxlength => 20 %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :first_name %></div>
        <span><%= f.text_field :first_name, :maxlength => 100 %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :middle_name %></div>
        <span><%= f.text_field :middle_name, :maxlength => 100 %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :last_name %></div>
        <span><%= f.text_field :last_name, :maxlength => 100 %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :gender %></div>
        <span><%= f.select :gender, [['Male', 1], ['Female', 2]], { :include_blank => true }, { :class => 'dropdown' } %></span>
        <span class="field_info"></span>
      </div>
    <% end %>

    <% b.add_tab('Contact') do %>

      <div class="field">
        <div><%= f.label :email %></div>
        <span><%= f.text_field :email, :maxlength => 255 %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div></div>
        <span><%= f.check_box :notify %><%= f.label :notify, 'Receive email notifications?' %></span>
        <span class="field_info"></span>
      </div>
    
      <div class="field">
        <div><%= f.label :telephone %></div>
        <span><%= f.text_field :telephone, :maxlength => 20 %> Ext: <%= f.text_field :telephone_extension, :maxlength => 10, :style => 'width: 80px;' %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :cellphone %></div>
        <span><%= f.text_field :cellphone, :maxlength => 20 %></span>
        <span class="field_info"></span>
      </div>

    <% end %>

    <% b.add_tab('User Details') do %>
      <div class="field">
        <div><%= f.label :user_name %></div>
        <span><%= f.text_field :user_name, :maxlength => 50 %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div></div>
        <span><%= f.check_box :active %><%= f.label :active %></span>
        <span class="field_info">Make employee active to allow sign in.</span>
      </div>

      <div class="field">
        <div><%= f.label :role %></div>
        <span><%= f.select :role, [['Administrator', :admin], ['Manager', :manager], ['Approver', :approver], ['Employee', :employee]], {}, { :class => 'dropdown' } %></span>
        <span class="field_info"></span>
      </div>
    <% end %>

    <% b.add_tab('Employment') do %>
      <div class="field">
        <div><%= f.label :internal_reference %></div>
        <span><%= f.text_field :internal_reference, :maxlength => 255 %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :designation %></div>
        <span><%= f.text_field :designation, :maxlength => 255 %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :start_date %></div>
        <span><%= f.date_picker :start_date %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :end_date %></div>
        <span><%= f.date_picker :end_date %></span>
        <span class="field_info"></span>
      </div>
      
      <div class="field">
        <div><%= f.label :location_id, 'Office location' %></div>
        <span><%= f.select :location_id, current_account.locations.collect {|e| [e.to_s, e.id]}, {}, { :class => 'dropdown' } %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :department_id %></div>
        <span><%= f.select :department_id, current_account.departments.all.collect {|e| [e.to_s, e.id]}, {}, { :class => 'dropdown' } %></span>
        <span class="field_info"></span>
      </div>
      
      <div class="field">
        <div><%= f.label :fixed_daily_hours %></div>
        <span><%= f.number_field :fixed_daily_hours, :in => 1...24 %></span>
        <span class="field_info"></span>
      </div>
    <% end %>

    <% b.add_tab('Leave') do %>

      <div class="field">
        <div><%= f.label :approver_id, 'Approver' %></div>
        <span><%= f.select :approver_id, 
                    current_account.employees.active_approvers.collect {|e| [e.to_s, e.id]},
                    { :include_blank => true }, 
                    { :class => 'dropdown' } %></span>
        <span class="field_info">NOTE: Only <b>active</b> employees, who receive <b>notifications</b> are listed.</span>
      </div>

      <h3>Leave Policy Overrides</h3>
      <p>Override the company defaults by supplying a value, or leave blank to use the company default.</p>

      <% LeaveType.for_each_leave_type_name do |leave_type_name| 
           leave_type = current_account.send(:"leave_type_#{leave_type_name}")
           unless (leave_type.gender_filter & @employee.gender_filter).empty? 
       %>
          <div style="margin-left: 8px;">
            <h4><%= leave_type_name.capitalize %> Leave</h4>
            <div style="height: 58px; margin-left: 16px;">
              <div style="float: left; width: 425px;">
                <div class="field">
                  <div><%= f.label :"#{leave_type_name}_leave_cycle_allocation", 'Allowance' %></div>
                  <span><%= f.number_field :"#{leave_type_name}_leave_cycle_allocation", :min => 0, :placeholder => "#{leave_type.cycle_days_allowance}", :style => 'width: 158px;' %></span>
                  <span class="field_info">days (default <%= leave_type.cycle_days_allowance %>)</span>
                </div>
              </div>
              <div style="float: left; width: 425px;">
                <div class="field">
                  <div><%= f.label :"#{leave_type_name}_leave_cycle_carry_over", 'Carry over allowance' %></div>
                  <span><%= f.number_field :"#{leave_type_name}_leave_cycle_carry_over", :min => 0, :placeholder => "#{leave_type.cycle_days_carry_over}", :style => 'width: 158px;' %></span>
                  <span class="field_info">days (default <%= leave_type.cycle_days_carry_over %>)</span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    <% end %>

    <% b.add_tab('Take on Balances') do %>

      <div class="field">
        <div><%= f.label :take_on_balance_as_at %></div>
        <span><%= f.date_picker :take_on_balance_as_at %></span>
        <span class="field_info"></span>
      </div>

      <% LeaveType.for_each_leave_type_name do |leave_type_name| 
           leave_type = current_account.send(:"leave_type_#{leave_type_name}")
           next unless leave_type.can_take_on?
           unless (leave_type.gender_filter & @employee.gender_filter).empty? 
      %>
          <div class="field">
            <div><%= f.label :"#{leave_type_name}_leave_take_on_balance", "#{leave_type_name.capitalize} leave" %></div>
            <span><%= f.number_field :"#{leave_type_name}_leave_take_on_balance", :min => 0, :style => 'width: 158px;' %></span>
            <span class="field_info">days</span>
          </div>
        <% end %>
      <% end %>
      
    <% end %>

    <% if @employee.persisted?
        @date_as_at = Date.today
        b.add_tab('Leave Balances') do %>
        
        <div class="field" style="height: 32px; line-height: 32px;">Leave balance as at <%= date_picker_tag :date_as_at, 
                        @date_as_at, 
                        { :style => 'width: 100px;', 
                          :options => { 
                            :onSelect => 'function(dateText, item) { update_leave_balance(dateText); }'
                          } 
                        } %>
          <%= link_to 'Update Leave Balance', 
                  employee_balance_path(:tenant => current_account.subdomain, :id => @employee.to_param), 
                  :id => 'update_leave_balance', 
                  :remote => true, 
                  :style => 'display: none' %>
                  
          <span id="ajax_working">Loading balances...</span>
        </div>
        
        <div id="leave_balances"></div>
        
      <% end %>
    <% end %>

  <% end %>
  
  <div style="height: 16px;"></div>

  <div class="actions">
    <%= f.submit %> or <%= link_to 'cancel', employees_path %>
  </div>
  
<% end %>

<script type="text/javascript">

  function to_name(src) {
    return src.replace(/[^A-Z|^a-z|^0-9]/ig, '').toLowerCase();
  }

  // set user name based on the first and last names
  var first_name = $("#employee_first_name");
  var last_name = $("#employee_last_name");
  var user_name = $("#employee_user_name");
  var update_leave_balance_link = $("#update_leave_balance");
  
  first_name.change(function() {
    update_user_name();
  });
  
  last_name.change(function() {
    update_user_name();
  });
  
  function update_user_name() {
    if (first_name.val() && last_name.val() && user_name.val() == "") {
      user_name.val(to_name(first_name.val()) + "." + to_name(last_name.val()));  
    }
  }

  function update_leave_balance(date) { 
    $('#ajax_working').css('display', '');
    update_leave_balance_link.attr('href', '<%= employee_balance_path(:tenant => current_account.subdomain, :id => @employee.to_param) %>&as_at=' + date);
    update_leave_balance_link.click();
  }

  update_leave_balance_link.click();  
</script>

