<%= form_for(@employee, :url => @employee.persisted? ? employee_path(:tenant => current_account.subdomain, :id => @employee.to_param) : employees_path, :html => { :multipart => true }) do |f| %>

  <%= error_messages_for @employee %>

  <%= render_tabs(:height => '500px') do |b| %>

    <% b.add_tab('General') do %>

      <div>
        <%= image_tag(@employee.avatar.url(:avatar), :width => 48, :height => 48, :class => 'avatar boxradius box_shadow') %>
      </div>

      <div class="field">
        <div><%= f.label :avatar %></div>
        <span><%= f.file_field :avatar %></span>
        <span class="field_info">Employee avatar. 48x48 pixels in size.</span>
      </div>

      <div class="field">
        <div><%= f.label :title %></div>
        <span><%= f.text_field :title %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :first_name %></div>
        <span><%= f.text_field :first_name %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :middle_name %></div>
        <span><%= f.text_field :middle_name %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :last_name %></div>
        <span><%= f.text_field :last_name %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :gender %></div>
        <span><%= f.select :gender, [['Male', 1], ['Female', 2]], { :include_blank => true }, { :class => 'dropdown' } %></span>
        <span class="field_info"></span>
      </div>
    <% end %>

    <% b.add_tab('Authentication') do %>
      <div class="field">
        <div><%= f.label :user_name %></div>
        <span><%= f.text_field :user_name %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :password %></div>
        <span><%= f.password_field :password %></span>
        <span class="field_info">Leave blank if not updating</span>
      </div>

      <div class="field">
        <div><%= f.label :password_confirmation %></div>
        <span><%= f.password_field :password_confirmation %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div></div>
        <span><%= f.check_box :active %><%= f.label :active %></span>
        <span class="field_info">Make employee active to allow sign in.</span>
      </div>

      <div class="field">
        <div><%= f.label :role %></div>
        <span><%= f.select :role, [['Administrator', :admin], ['Manager', :manager], ['Approver', :approver], ['Employee', :employee]], {}, { :class => 'dropdown' } %></span>
        <span class="field_info"></span>
      </div>
    <% end %>

    <% b.add_tab('Contact') do %>
      <div class="field">
        <div></div>
        <span><%= f.check_box :notify %><%= f.label :notify, 'Receive email notifications?' %></span>
        <span class="field_info"></span>
      </div>
    
      <div class="field">
        <div><%= f.label :email %></div>
        <span><%= f.text_field :email %></span>
        <span class="field_info"></span>
      </div>
    <% end %>

    <% b.add_tab('Employment') do %>
      <div class="field">
        <div><%= f.label :internal_reference %></div>
        <span><%= f.text_field :internal_reference %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :designation %></div>
        <span><%= f.text_field :designation %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :start_date %></div>
        <span><%= f.date_picker :start_date %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :end_date %></div>
        <span><%= f.date_picker :end_date %></span>
        <span class="field_info"></span>
      </div>
      
      <div class="field">
        <div><%= f.label :location_id %></div>
        <span><%= f.select :location_id, current_account.locations.collect {|e| [e.to_s, e.id]}, {}, { :class => 'dropdown' } %></span>
        <span class="field_info"></span>
      </div>

      <div class="field">
        <div><%= f.label :department_id %></div>
        <span><%= f.select :department_id, current_account.departments.all.collect {|e| [e.to_s, e.id]}, {}, { :class => 'dropdown' } %></span>
        <span class="field_info"></span>
      </div>
      
      <div class="field">
        <div><%= f.label :fixed_daily_hours %></div>
        <span><%= f.text_field :fixed_daily_hours %></span>
        <span class="field_info"></span>
      </div>
    <% end %>

    <% b.add_tab('Leave') do %>

      <div class="field">
        <div><%= f.label :approver_id, 'Approver' %></div>
        <span><%= f.select :approver_id, 
                    current_account.employees.active_approvers.collect {|e| [e.to_s, e.id]},
                    { :include_blank => true }, 
                    { :class => 'dropdown' } %></span>
        <span class="field_info"></span>
      </div>

      <h3>Leave Policy Overrides</h3>

      <% LeaveType.for_each_leave_type_name do |leave_type_name| %>
        <div style="height: 58px;">
          <div style="float: left; width: 441px;">
            <div class="field">
              <div><%= f.label :"#{leave_type_name}_leave_cycle_allocation" %></div>
              <span><%= f.text_field :"#{leave_type_name}_leave_cycle_allocation", :style => 'width: 158px;' %></span>
              <span class="field_info">days</span>
            </div>
          </div>
          <div style="float: right; width: 441px;">
            <div class="field">
              <div><%= f.label :"#{leave_type_name}_leave_cycle_carry_over" %></div>
              <span><%= f.text_field :"#{leave_type_name}_leave_cycle_carry_over", :style => 'width: 158px;' %></span>
              <span class="field_info">days</span>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>

    <% b.add_tab('Take on Balances') do %>

      <div class="field">
        <div><%= f.label :take_on_balance_as_at %></div>
        <span><%= f.date_picker :take_on_balance_as_at %></span>
        <span class="field_info"></span>
      </div>

      <% LeaveType.for_each_leave_type_name do |leave_type_name| %>
        <div class="field">
          <div><%= f.label :"#{leave_type_name}_leave_take_on_balance", "#{leave_type_name.capitalize} leave" %></div>
          <span><%= f.text_field :"#{leave_type_name}_leave_take_on_balance", :style => 'width: 158px;' %></span>
          <span class="field_info">days</span>
        </div>
      <% end %>
      
    <% end %>
  <% end %>
  
  <div style="height: 16px;"></div>

  <div class="actions">
    <%= f.submit %> or <%= link_to 'cancel', employees_path %>
  </div>
  
<% end %>

<script type="text/javascript">

  function to_name(src) {
    return src.replace(/[^A-Z|^a-z|^0-9]/ig, '').toLowerCase();
  }

  // set user name based on the first and last names
  var first_name = $("#employee_first_name");
  var last_name = $("#employee_last_name");
  var user_name = $("#employee_user_name");
  
  first_name.change(function() {
    update_user_name();
  });
  
  last_name.change(function() {
    update_user_name();
  });
  
  function update_user_name() {
    if (first_name.val() && last_name.val() && user_name.val() == "") {
      user_name.val(to_name(first_name.val()) + "." + to_name(last_name.val()));  
    }
  }
  
</script>

