<% title "Maintain Staff" %>

<div id="filter" style="margin-bottom: 14px; z-order: 0;">
  <%= form_for @filter, :as => 'employee_filter', :url => employees_filtered_path(), :remote => true do |f| %>
    
    <%= error_messages_for @filter %>

    <div style="float: right;" class="clearfix">
      <a id="toggle_criteria" href="javascript: toggle_criteria();" title="Hide or show additional filtering criteria">
        <%= @filter_by == 'none' ? 'More Criteria' : 'Less Criteria' %>
      </a>
    </div>

    <table width="100%">
      <tr class="extra">
        <td width="120px" style="height: 29px;"></td>
        <td width="32px"><%= f.radio_button :filter_by, 'none' %></td>
        <td class="field">All staff</td>
        <td align="right" rowspan="4">
          <div style="display: none;">
            <%= f.submit 'Apply Criteria' %>
          </div>
        </td>
      </tr>
      <tr class="extra">
        <td>Location:</td>
        <td><%= f.radio_button :filter_by, 'location' %></td>
        <td class="field">
          <%= f.select :location_id, current_account.locations.collect {|item| [item.title, item.to_param]}, {}, { :class => 'dropdown' } %>
        </td>
      </tr>
      <tr class="extra">
        <td>Department:</td>
        <td><%= f.radio_button :filter_by, 'department' %></td>
        <td class="field">
          <%= f.select :department_id, current_account.departments.collect {|item| [item.title, item.to_param]}, {}, { :class => 'dropdown' } %>
        </td>
      </tr>
    </table>

  <% end %>
</div>

<div style="height: 32px; margin-bottom: 10px;">
  <div id="ajax_working">Loading staff...</div>
  <div id="paginator" style="display: none;">
  </div>
</div>

<table class="table_grid">
  <thead>
    <tr>
      <th></th>
      <th>Full Name</th>
      <th>Designation</th>
      <th width="130px">Role</th>
      <th>Location</th>
      <th>Department</th>
      <th>Approver</th>
      <th width="40px"></th>
      <th width="40px"></th>
    </tr>
  </thead>
  <tbody id="data-rows">
    <tr>
      <td colspan="9">Loading staff...</td>
    </tr>
  </tbody>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>

<%= table_grid_row_click_handler %>

<script type="text/javascript">
  
  var extra_criteria = <%= @filter_by == 'none' ? 'false' : 'true' %>;

  $('.extra').css('display', '<%= @filter_by == 'none' ? 'none' : '' %>');

  function toggle_criteria() {
    extra_criteria = !extra_criteria;
    $('.extra').css('display', extra_criteria ? '' : 'none');
    $('#toggle_criteria').html(extra_criteria ? 'Less Criteria' : 'More Criteria');
  }

  $('#employee_filter_location_id').change(function(){
    $('#employee_filter_filter_by_location').attr('checked', 'checked');
  });

  $('#employee_filter_department_id').change(function(){
    $('#employee_filter_filter_by_department').attr('checked', 'checked');
  });

  $('#employee_filter_employee_id').change(function(){
    $('#employee_filter_filter_by_employee').attr('checked', 'checked');
  });

  $('#filter input, #filter select').change(function(){
    $('#ajax_working').css('display', '');
    $('#paginator').css('display', 'none');
    $('#employee_filter_new').submit();
  });

  $('#paginator a').live('ajax:before', function(e) { 
    $('#ajax_working').css('display', '');
    $('#paginator').css('display', 'none');
  });

</script>

<script type="text/javascript" defer="defer">
  $('#employee_filter_new').submit();
</script>
